[2015-05-16 23:34] kennethlimcp opened #1 "git dependency causing install issue"
@brycekahle, using git to grab the node packages is a breaking change for users where some of them do not have **git** installed and unable to install the new **particle-cli**. Can we do something about it instead of getting them to install more tools?

[2015-05-17 00:56] brycekahle commented on #1
Definitely. We can get that fixed. 

—
Bryce KahleSenior Software Engineer

https://spark.io/

On Sat, May 16, 2015 at 4:34 PM, Kenneth Lim <notifications@github.com>
wrote:

[2015-05-17 23:23] kennethlimcp opened #2 "npm update not working"
using `sudo npm update -g particle-cli`, there's an error:

[code]

Seems like an issue if you have `spark-cli` already installed

[2015-05-17 23:27] emilyrose commented on #2
ah, good catch! I will add a prominent note to the docs that a user should uninstall `spark-cli` first.

[2015-05-17 23:28] kennethlimcp commented on #2
It should also be in the docs but i don't have access to fix it.

[2015-05-17 23:30] kennethlimcp opened #3 "Wifi scan not working"
I happened to have internet sharing via Wifi turned on for MBP and attempted a scan:
(ie. Wifi device not available for scan)

The user should be aware of this but this still should not threw an unknown error to the user.

[code]

[2015-05-18 00:05] brycekahle commented on #2
I agree that we don't need to include `spark` binary. The user has to explicitly install particle-cli, so I don't think we need to maintain that binary. We could add a `postinstall` script to detect if `spark-cli` is installed and warn the user to uninstall it with an example command.

[2015-05-18 00:07] brycekahle commented on #3
Thanks for the bug report!

[2015-05-18 00:39] #3 closed

[2015-05-18 00:47] emilyrose commented on #2
@kennethlimcp the reason is that many of our customers are already quite used to using the `spark` command, and it's not super user-friendly to just yank a command for which people have built up "muscle memory". Making both available, but with a gentle reminder when you use `spark` seemed like the best option; but I'm willing to discuss, it I suppose.

There is no `spark` binary per se. I've just

[2015-05-18 00:50] brycekahle commented on #2
While I agree in principle, the inability to install particle-cli while having spark-cli installed is a major downside. Also the longer we allow the usage of `spark` the longer it will take to transition everyone to using `particle`.

[2015-05-18 01:02] brycekahle commented on #1
One down, waiting for a PR merge and and npm publish on the other one.

[2015-05-18 02:44] kennethlimcp opened #4 "Update tinker binary"
1. There should be a user-part only tinker for Photon since it's supporting fast OTA of only user code now

2. The better option might be to check which device you are trying to flash and select the correct tinker binary from the :cloud: or local copy.

- If it is a core, use a tinker firmware with the full tinker firmware compiled for core
- If it is a photon, flash a user-part tinker

3. change

[2015-05-19 00:46] brycekahle commented on #1
All git dependencies removed.

[2015-05-19 00:46] #1 closed

[2015-05-19 17:20] joegoggins commented on #2
I agree with @brycekahle , forcing everyone through an upgrade user experience that begins with an error is no good. If users don't have time to change their scripts or day to day usage pattern from `spark` to `particle`, they can stay on `spark-cli`. Enabling usage of `spark` even when using the latest `particle-cli` is confusing.

[2015-05-19 17:43] zsup commented on #2
Whatever the solution we put in place, `npm install -g particle-cli` and `npm update -g particle-cli` should not error out if at all possible. Regardless of how well documented it is, many people will attempt to install without looking at the docs at all.

[2015-05-20 22:16] joegoggins opened #5 "`particle setup` doesn't work for a core"
Setup process is broken for the Spark Core. Saw this issue on released 1.5.6 and 1.5.8. To reproduce error:

1. `particle setup`
2. `Would you like to log in with a different account? No`
3. The program just exits, instead of proceeding to setup the core.

I did this with the CLI configured to the staging cloud (in case it's relevant)

[2015-05-20 23:01] dmiddlecamp opened #6 "inquirer crash"
C:\Users\username>particle setup
_ _ _ _
_ __ __ _ _ __| |_(_) ___| | ___ (_) ___
| '_ \ / _` | '__| __| |/ __| |/ _ \ | |/ _ \
| |_) | (_| | | | |_| | (__| | __/_| | (_) |
| .__/ \__,_|_| \__|_|\___|_|\___(_)_|\___/
|_| https://particle.io/

? Hello Stranger! This seems to be your first time here. What would you like to
? Hello Stranger! This seems to be your first time here. What would you like

[2015-05-21 20:42] emilyrose commented on #2
so for now I've just removed the `spark` "binary" from the package.json.

[2015-05-21 20:42] #2 closed

[2015-05-21 20:58] dmiddlecamp opened #8 "extra slash at the end of configured apiUrl causes confusing issues / errors, can we detect this?"
user error on my part, forgot not to add the extra slash at the end, can we catch this?

[2015-05-21 23:56] beroe opened #9 "Complaining to Emily: Non-broadcast networks"
Our home network is non-broadcast, so I look forward to an update which makes these accessible.

Also, it would be good to report the core ID during the set-up process, as before.

[2015-05-22 00:56] emilyrose commented on #9
@beroe hey, you read the docs?!

I'm working on this right now :smile_cat:

[2015-05-22 02:23] emilyrose commented on #9
OK, @beroe! I just published version 1.5.9, which will allow you to manually enter your Wi-Fi credentials!

You will now be able to proceed like so:
[code]

Let me know what you think...

Thanks for your complaint!

— Emily

[2015-05-22 02:23] #9 closed

[2015-05-22 20:44] beroe commented on #9
Super great. Thanks!  I should have put a :^) next to my subject.

[2015-05-22 21:28] emilyrose commented on #9
hah, no worries. I'm glad it works for you!

[2015-05-22 23:06] dwcares opened #10 "particle setup doesnt work without a driver on Windows 10"
Windows 10 has a usb serial driver so you didn't need to install the Windows Driver. I made a change that made this work with the spark core by checking the vendor id right in the pnpid string. This doesn't work with the photon since there's a new vendor and product id for the photon.

[2015-05-23 00:04] beroe commented on #5
I am currently having the same problem with a Spark Core. I was able to set up a few new photons, but the core has the symptoms described above. This is with CLI version v1.5.10

If I do `ls /dev/tty*` I see it listed as  `/dev/tty.usbmodem1411`

I will try firmware update next.

[2015-05-28 10:46] kennethlimcp opened #13 "Particle setup not working for Cores"
simply plug in a core in Listening mode and type `particle setup`.

You can check that the core is indeed connected with `particle serial list`

@emilyrose, might want to fix this real quick or people with unclaimed cores will go through a lot of hassle just to claim it.Particle setup not working for Cores #195

[2015-05-28 17:30] joegoggins commented on #13
+1 , really hoping for a fix for this sooner rather than later.

[2015-05-28 20:24] brycekahle commented on #13
This should be fixed in 1.5.11

[2015-05-28 20:24] #13 closed

[2015-05-28 20:24] brycekahle commented on #5
Dup of #13 and fixed in 1.5.11

[2015-05-28 20:24] #5 closed

[2015-05-28 20:26] brycekahle commented on #6
My guess is that this crash wasn't actually in `inquirer`. Do you have any more details that might help us locate the bug? What version you were running perhaps?

[2015-05-28 20:30] joegoggins commented on #5
Fix confirmed here too, all I had to do was run `npm update -g particle-cli` and run `particle setup` again with a Core plugged in and in listening mode and poof, it worked as expected.

Thanks @brycekahle , much appreciated!

[2015-05-28 20:31] dmiddlecamp commented on #5
:boom: Thanks @brycekahle !

[2015-06-01 18:52] suda opened #15 "Compile doesn't allow specifying platform ID"
`compile` command should take an optional [`deviceID`, `platformID` and `productID`](https://github.com/spark/sparkjs/blob/master/lib/spark-api.js#L382) parameters and pass them to the API.

[2015-06-01 18:55] suda opened #16 "Default compiled firmware filename should indicate the platform"
Depending on [device's platformID](https://github.com/spark/spark-dev/blob/master/lib/spark-dev.coffee#L361) filename of created file should reflect it similarly as [Particle Dev does it](https://github.com/spark/spark-dev/blob/master/lib/spark-dev.coffee#L524).

[2015-06-01 21:49] dmiddlecamp commented on #10
bump :)

[2015-06-02 12:51] m-mcgowan commented on #15
We can also infer the connected device from the USB VID/PID.

[2015-06-02 12:52] pkourany commented on #15
@m-mcgowan, what if the device is not connected?  Having an explicit command is important IMO.

[2015-06-02 12:55] kennethlimcp commented on #15
There are many ways to go do this:

- `particle compile --photon xxxxx`
- `particle compile --core xxx`
- detect USB VID/PID and compile accordingly
- Use the :cloud: setting where it already knows which device is which.
   - eg. `particle compile my_photon xxx` or `particle compile oh_yeah_white_core xxx`

[2015-06-02 12:57] pkourany commented on #15
Ken, I agree with everything you said!

[2015-06-02 16:38] dmiddlecamp opened #17 "requestType not being set during webhook request"
tested and confirmed this

https://community.particle.io/t/new-feature-webhooks/10525/46

[2015-06-02 23:24] kennethlimcp commented on #8
Something like checking the last char for the "/"?

[2015-06-02 23:40] emilyrose commented on #8
@kennethlimcp yep! pretty much. super simple fix.

[2015-06-02 23:42] kennethlimcp commented on #8
You or me? :smile:

[2015-06-02 23:43] emilyrose commented on #8
Whoever gets to it first, I suppose!

[2015-06-02 23:44] kennethlimcp commented on #8
Cool i also need to pull in my stale PR from **spark-cli** :scream:

[2015-06-03 23:51] kennethlimcp opened #19 "Standardize wifi setup workflow"
Using `particle serial wifi` on a Photon,

`SSID --> Security --> Password`

Using `particle setup` on a Photon,

`SSID --> Password --> Security`

[2015-06-03 23:52] kennethlimcp opened #20 "Backspace erases earlier console output"
Using `particle serial wifi`, hitting the backspace results in the prompt moving up one line and further, "erasing" the previous console output

[2015-06-05 02:00] m-mcgowan commented on #15
and that `particle compile xxx` should fail if it can't autodetect from the connected device, since no other means of knowing the target was given.

[2015-06-07 07:20] mojtabacazi opened #21 "Particle Login gives : ECONNREFUSED"
#: particle cloud login
? Please enter your email address: XXXXXXXX
? Please enter your password: ********
! There was an error logging you in! Let's try again.
! Login Failed: Error: connect ECONNREFUSED

Thoughts?

Running on MacBook 10.10

[2015-06-07 07:37] kennethlimcp commented on #21
What does `particle config identify` say?

[2015-06-07 16:50] mojtabacazi commented on #21
Current profile: particle
Using API: http://104.236.177.224:8080
Access token: *********

[2015-06-07 17:00] #21 closed

[2015-06-07 17:01] mojtabacazi commented on #21
It was pointing to localhost, fixed and working now.
Thank you

[2015-06-07 23:44] emilyrose commented on #21
@mojtabacazi thanks for the report! I will make that error output add some suggestions! Glad you got it fixed.

Thanks @kennethlimcp! :smile_cat:

[2015-06-08 00:09] mojtabacazi opened #22 "Photon OTA using particle-cli"
Can Particle-cli be used for photon OTA? `--usb` does work for me but not the OTA. No error it just causes my photon to rest to factory firmware.

Tried exact same code  on Cloud IDE and it works fine

[2015-06-08 00:28] kennethlimcp commented on #22
@mojtabacazi,

There's a similar issue here: https://github.com/spark/particle-cli/issues/15

Basically we need to tell the build farm which device are we compiling for so improvements to the CLI needs to be made

[2015-06-08 00:31] mojtabacazi commented on #22
well I've compiled using `make PLATFROM=photon ...` and when I do `particle flash \UUID\ blink.bin` photon start flashing magenta but then it rest to factory firmware not what I've compiled.

`particle flash --usb` works fine

[2015-06-08 00:34] kennethlimcp commented on #22
Ok i guess you are using the `develop` branch? Or are you using the `V0.4.0` stable release?

[2015-06-08 00:41] mojtabacazi commented on #22
`particle --version`
1.5.11

[2015-06-08 00:42] kennethlimcp commented on #22
I means for `make PLATFROM=photon ...` Where did you download the firmware source code?

[2015-06-08 00:52] mojtabacazi commented on #22
oh that yea `develop` branch

[2015-06-08 00:54] kennethlimcp commented on #22
Be sure to `git pull` the latest copy and upgrade the system firmware to test again - https://github.com/spark/firmware/blob/develop/docs/build.md#updating-system-firmware-photon

[2015-06-08 01:34] mojtabacazi commented on #22
did that before. not working still.

[2015-06-08 01:35] emilyrose commented on #22
hey @mojtabacazi! I'm working on this feature as we speak.

As @kennethlimcp mentioned, the CLI isn't yet informing the API the platform for which to compile.

[2015-06-08 01:36] mojtabacazi commented on #22
@emilyrose Got it but I don't get how it's related to compiling the code?

[2015-06-08 02:32] kennethlimcp commented on #22
@mojtabacazi , you might want to open a thread at: https://community.particle.io/ as this is not a CLI-related issue

[2015-06-08 05:51] kennethlimcp opened #23 "Standardized command verb"
Proposing:

**Webhook**
- `add` (sounds a little funny, original is `create`)
- `remove`

this is in line with `particle device`
- `particle device add`
- `particle device remove`

[2015-06-08 05:56] emilyrose commented on #23
I'm happy with add/remove, but would also love to support 'del' as well.

[2015-06-08 06:01] kennethlimcp commented on #23
Sound like a one line addition: https://github.com/spark/particle-cli/blob/master/commands/WebhookCommands.js#L94

[2015-06-08 08:20] kennethlimcp opened #29 "Webhook commands missing in README"
Some info:

- https://github.com/spark/spark-cli/pull/172
- http://docs.particle.io/photon/webhooks

[2015-06-08 13:51] kennethlimcp opened #32 "`particle flash` add `--system` flag"
It gets tedious trying to flash a new system firmware to a Photon since the current CLI does not support it.

- `particle flash --system xxx.bin`
- system address: `0x8020000` + `-a 0`

[2015-06-08 14:53] kennethlimcp commented on #10
Photon on Mac:

[code]

Spark core on Mac:

[code]

Photon on Windows:

[code]

Spark Core on Windows XP:

[code]

[2015-06-09 07:54] harrisonhjones commented on #10
@kennethlimcp I see "Spark Devices" as my manufacturer on my cores in Windows. How did you generate the above output?

[2015-06-09 23:53] kennethlimcp opened #36 "update binaries"
- rename `spark_tinker.bin` to `core_tinker.bin`
- add in `photon_tinker.bin`
- check that device is a core before cc3000 patch

[2015-06-12 08:49] kennethlimcp commented on #17
Fixed here: https://github.com/spark/particle-cli/commit/eb3ca2d4f030468cf8e83a129ef823956a22f6cb

[2015-06-12 08:50] kennethlimcp commented on #22
Similar to https://github.com/spark/particle-cli/issues/15, so :+1:  to close

[2015-06-12 15:57] kennethlimcp commented on #16
@suda i'm guess thing will have to make use of https://github.com/spark/particle-cli/issues/15 fix first to know which device the user wants to compile against?

I can get a PR for issue 15 since it's probably not too much work :)

[2015-06-12 15:59] kennethlimcp commented on #15
Thinking of a `particle compile device_type xxxxx` for now without USB detection. Thoughts?

detection is cool but still requires a `Y/n` response in case the user wants to compile for other platform and that will quickly become a tedious `hit enter` or `no` chore. We can always add that later :)

[2015-06-12 16:17] pkourany commented on #15
From my own experience, I often just want to test compile and not flash so not having a connected device is common IMO. When a target is specified for flashing, that's when it should fail when type and actual target don't match.

[2015-06-12 16:33] kennethlimcp commented on #15
currently, `compile` and `flash` are 2 separate commands and there's no coupling for what you mentioned: "When a target is specified for flashing, that's when it should fail when type and actual target don't match."

If you do a OTA Flash, the device name/id you use will tell the :cloud: which platform to compile for.

If you do a compile which returns a `.bin`, we need to specify which platform l

[2015-06-12 16:40] pkourany commented on #15
Ken, I thought you could compile and flash in one command (I never used it
so it was a guess on my part!).  Glad you clarified!  In regards to the
other stuff, you agree completely.

Paul Kourany, P.Eng., PMP, ITIL
IT Worx Services
President

On Fri, Jun 12, 2015 at 12:33 PM, Kenneth Lim <notifications@github.com>
wrote:

[2015-06-12 16:43] dmiddlecamp commented on #15
you can compile and flash in one command, "compile" and "flash" take the same general arguments, just one has a target device

[2015-06-15 19:02] dwcares commented on #10
On windows 10, without the drvier it doesn't emit the manufacturer, just the pid/vid.

[2015-06-20 18:33] Rockvole opened #44 "particle compile exit code"
Would it be possible to have particle compile return a different exit code on success or failure ?
Looks like it always returns 0

The same as gcc would work :

http://stackoverflow.com/questions/1024525/how-to-check-if-gcc-has-failed-returned-a-warning-or-succeeded-in-bash

Its helpful when writing shell scripts.

[2015-06-20 19:03] ukd1 opened #45 "Error: Unable to obtain claim code"
I get `Error: Unable to obtain claim code` when trying to claim my photon.

[code]

I found [this](https://community.particle.io/t/photon-setup-fails-with-unable-to-obtain-claim-code/12606), but there is no solution there.

Any ideas?

I'm on a 2012 MBP Retina, running 10.10.3. particle cli version info;

[code]

[2015-06-22 05:31] emilyrose commented on #45
hey @ukd1!

Sorry to hear you're having trouble! Are you by chance already connected to the Photon when executing this command?

[2015-06-22 17:18] ukd1 commented on #45
@emilyrose nope - I was connected to my home wifi network :)

[2015-06-23 03:44] brycekahle opened #47 "CLI exits when selecting from multiple devices to setup"
version 1.5.11

Ran `particle setup` with two photons connected. Failed right after I selected one of them when prompted.

[code]

[2015-06-24 15:02] siddMahen opened #48 "[Photon] `particle setup` fails on OSX due to hardcoded Wi-Fi interface"
I just received my Photon today. After connecting it to my computer via USB, installing the particle cli and running `particle setup`, I encountered the following problem:

[code]

After digging through the code, I isolated the problem to a bug in WirelessCommand/connect/darwin.js:

[code]

Here, the particle cli is trying to connect to a particular Wi-Fi network using the `networksetup` utility.

[2015-06-24 15:11] dmiddlecamp commented on #48
awesome bug report, thank you! :+1:

[2015-06-24 17:54] endorama opened #49 "undefined "writeKeyToCore" and "saveKeyFromCore" function"
Seems like there are 2 unrenamed functions in `KeyCommands.js` in the latest master.

* `writeKeyToCore`:
[commands/KeyCommands.js:286](https://github.com/spark/particle-cli/blob/f75ff64ea88c8205b3d5bfee5ef5677c9107343d/commands/KeyCommands.js#L286) is line
`return that.writeKeyToCore(deviceid + "_new", true);`
* `saveKeyFromCore`: [commands/KeyCommands.js:164](https://github.com/spark/particle-cl

[2015-06-24 18:05] emilyrose commented on #48
@siddMahen thanks a lot for such a detailed report!

I will make this a high priority to fix. Thank you so much!

[2015-06-24 18:06] emilyrose commented on #49
@endorama, thanks for the bug report!

If you'd like to submit a PR, that would certainly be welcome! Otherwise, I am happy to fix this myself.

Let me know what you think!

[2015-06-24 20:18] endorama commented on #49
Pull request ready!

PS: I read from contribution guidelines that I should sign the Spark Individual Contributor License Agreement (CLA). Should I simply fill the GDocs form?

[2015-06-24 22:46] emilyrose commented on #49
@endorama correct! Just fill out this form if you will: https://docs.google.com/a/particle.io/forms/d/1_2P-vRKGUFg5bmpcKLHO_qNZWGi5HKYnfrrkd-sbZoA/viewform

Thank you so much! :smile_cat:

[2015-06-25 09:23] endorama commented on #49
Form filled, please let me know if further steps should be taken.

[2015-06-25 16:28] emilyrose commented on #49
that's it! thanks so much!

[2015-06-25 16:28] #49 closed

[2015-06-25 22:18] endorama opened #51 "Incomplete use of 'sudo' when running 'dfu-util'"
In my setup I need to use `sudo` to properly run `dfu-util -l` ( the setup has been created following the [guide provided](https://community.particle.io/t/how-to-install-spark-cli-on-ubuntu-12-04/3474) in the Readme of this repository ).

There is a configuration option ( `useSudoForDfu` ) that I presume should be used in this cases, but currently  doesn't run `dfu-util -l` with `sudo` ( actually

[2015-06-27 00:10] loopj commented on #44
:+1: this would be super helpful for custom buildchains

[2015-06-30 00:23] jme783 opened #52 "particle device rename doesn't successfully save multi-word names"
[code]

Note that the device should be named "Stagey Stage Photon"

[2015-06-30 00:24] dmiddlecamp commented on #52
I would argue we should not allow multi-word names, since they're used in URLs

[2015-06-30 00:24] dmiddlecamp commented on #52
@jme783 --> should this be an issue for the API, since this isn't a supported feature?

[2015-06-30 01:15] joegoggins commented on #52
What if the cli did a search and replace for all non- a-z 0-9 _ characters to - ? On match, it could warn the user that it choose a slightly different name.

[2015-06-30 01:18] jme783 commented on #52
Interesting, didn't realize that we didn't support it. I like @joegoggins idea of a smart replace. At the very minimum the CLI should tell the user that they can't use multiple words for their name

[2015-06-30 01:21] kennethlimcp commented on #52
It's tricky for a CLI unless you did a `particle device rename xxxx "xxxx xxxx xxx"` Without the quotes, each part of the name is another argument.

We can always count but it becomes too much work just to get that smart thing going

[2015-06-30 02:19] joegoggins commented on #52
Yea, it'd probably better to just fail if more than 2 arguments were
passed.  Actually, that would be a handy feature for many other
sub-commands as well; a general ability to fail if the wrong number of
arguments are passed, option ordering is wrong or not supported, etc.
Thor <http://whatisthor.com/>, the command line utility behind tons of Ruby
CLI tools like travis, heroku, and many others do

[2015-06-30 17:13] dmiddlecamp opened #53 "Travis CI warnings / issues"
Our firmware build is using Travis and the CLI to do test builds, but it looks like maybe something is off about the two combined.  Any chance we can fix this part of the build?  Is it just a matter of not using the deprecated module, and using the new one?

https://travis-ci.org/spark/firmware/builds/64131560

Thanks! :)

edit: reviewed this some more, looks like the CLI is adapting and skipping

[2015-06-30 20:03] brycekahle commented on #53
I would recommend trying `particle-cli`. We haven't updated `spark-cli` in quite awhile.

[2015-07-01 04:01] kennethlimcp commented on #53
The error came from here - https://github.com/spark/firmware/blob/e28f4256ba132f788d07eb39af4e511745568e88/ci/test_memory_available_with_real_core.sh#L99

There needs to be an actual CI core setup for the test and the output means there's probably not one online

[2015-07-02 09:55] snizzleorg commented on #17
is this fix already included in the release of the cli? I have the same issue:

[code]

upon creating the hook:

[code]

[2015-07-02 10:09] kennethlimcp commented on #17
Yes it is. What does `particle --version` say?

[2015-07-02 10:14] snizzleorg commented on #17
1.5.11

[2015-07-02 11:34] kennethlimcp commented on #17
Do update to the latest version

[2015-07-02 12:05] snizzleorg commented on #17
Ok. update to 1.5.15 fixed it - thanks

[2015-07-03 03:31] berkley commented on #32
+1.  Would love to see a fix for this.  The CLI is extremely useful for my projects and I can't use it with my photons because of this issue.

[2015-07-03 03:32] kennethlimcp commented on #32
@berkley you don't need this flag unless you are doing a system upgrade. For normal user firmware upgrade it's `particle flash --usb xxxx.bin`

[2015-07-06 14:11] kennethlimcp commented on #16
@emilyrose, can be closed with https://github.com/spark/particle-cli/commit/659fc2ca9594f17add5b83f93be6105b80a12186

[2015-07-06 14:11] kennethlimcp commented on #15
@emilyrose, can be closed with https://github.com/spark/particle-cli/commit/659fc2ca9594f17add5b83f93be6105b80a12186

[2015-07-06 14:11] kennethlimcp commented on #17
@emilyrose, can be closed with https://github.com/spark/particle-cli/commit/eb3ca2d4f030468cf8e83a129ef823956a22f6cb

[2015-07-06 14:11] kennethlimcp commented on #10
@emilyrose, can be closed with https://github.com/spark/particle-cli/commit/7fc5b338a70d0ff754a9eff023a5c09eef5ac178

[2015-07-06 16:37] berkley commented on #32
Ahh, right.  I misunderstood this particular issue.  I'm really interested in being able to compile for the photon via the CLI, which the README still says will be fixed soon.  Maybe I should open an issue for that.

[2015-07-07 18:07] pomplesiegel opened #56 "`particle setup wifi` often fails on Core"
On our cores running a FW program w/ WiFi in MANUAL_MODE, if we
1. Place an already happy/connected core running our FW into listening mode
2. run `particle setup wifi` and enter SSID, Security, PW
we time out w/ the message:
`Attempting to configure Wi-Fi on /dev/cu.usbmodem1411`
`I said: w`
`timed out on SSID:`
`Something went wrong Serial prompt timed out - Please try restarting your device`

A

[2015-07-09 06:43] kennethlimcp commented on #56
I rarely ever had issues with the core. Are you on the latest CLI version?

[2015-07-09 14:52] pomplesiegel commented on #56
Yes, currently using 1.5.16, but we have seen this pop up all throughout the past months of development (since about January). We can reproduce this on nearly all our Cores at any given time. They all have deep_update_2014_06 and cc3000 v1.29.

Only unique attribute of our code from a WiFi perspective is that we're using MANUAL_MODE.

[2015-07-09 16:05] kennethlimcp commented on #56
Are you using local compile as well If so, which branch and version?

I don't think that MANUAL mode really matters since the Core is in listening mode for that to work.

Unless you tried running that command without the Core in listening mode which explains why it timed out.

[2015-07-09 16:10] dmiddlecamp opened #57 "setup fails when already connected to photon wifi access point"

[2015-07-09 19:39] pomplesiegel commented on #56
We're using remote compile. I figured MANUAL_MODE wouldn't matter, as you said, it gets put in listening mode anyway.
We definitely have the core blinking blue when attempting to run `particle setup wifi`. I've tried clearing the cc3000 creds as well, but that makes no difference. Haven't seen this at all?

[2015-07-09 19:43] emilyrose commented on #56
@pomplesiegel what happens when you have the Core in listening mode and use `particle serial wifi`?

[2015-07-09 22:02] pomplesiegel commented on #56
@emilyrose, same timeout behavior seen with `particle serial wifi`. FYI, I just tried `particle setup wifi` and the first two times passed, and all subsequent calls failed. That's when I tried `particle serial wifi`, which also failed.

[2015-07-10 01:26] kennethlimcp commented on #56
@pomplesiegel , i'm not if it is a cable issue that you are having.

Can you try loading the tinker firmware using `particle flash --usb tinker` and do stuff like `particle serial identify` or `particle serial wifi`?

If both doesn't work when the Core is blinking blue, there's a high chance it's a cable issue or driver issue. Check that the Core appears as a COM port when you do that.

Also, do y

[2015-07-10 15:34] pomplesiegel commented on #56
@kennethlimcp
* just tried a brand new spark-issued cable and the same issue occurred.
* Interesting! W/ the exact same HW setup which was failing w/ our program running, I have now 100% success rate when tinker is loaded.
* Loaded our program again, and the same timeout + (Core's LED turns off or solid blue) issue occurs.

Only thing our program does to manipulate the serial port is`Serial.begin(

[2015-07-10 19:35] osmithy opened #58 "Error when compiling: Target device blinky.ino is not valid"
There probably some obvious thing I'm missing, but I cannot find a single page on the internet about this error.

When I navigate to the directory containing blinky.ino and type `particle compile blinky.ino` I get the error `Target device blinky.ino is not valid`

This happens with any sketch I try.

Interestingly, if I substitute `flash [my device name]` in place of `compile`, it compiles and fla

[2015-07-10 19:42] osmithy commented on #58
Interestingly, if I substitute `flash [my device name]` in place of `compile`, it compiles.

[2015-07-10 19:50] emilyrose commented on #58
hey @osmithy, thanks for the report! I will be looking into this.

[2015-07-10 20:25] osmithy commented on #58
Thanks!!

On Fri, Jul 10, 2015 at 12:50 PM, Emily Rose <notifications@github.com>
wrote:

[2015-07-11 00:13] osmithy commented on #58
Apparently you need to specify whether it's a core or photon. The
documentation just needs to be updated to reflect that.

particle compile mycode fails

particle compile photon mycode succeeds

Update this doc:
http://docs.particle.io/photon/cli/#update-your-device-remotely

On Fri, Jul 10, 2015 at 1:25 PM, Owen Smithyman <owen@othermachine.co>
wrote:

[2015-07-11 00:15] dmiddlecamp commented on #58
hmm, that's a pretty major change for this command, we should make this an optional param right, so we don't break people who are using it currently?

[2015-07-11 00:40] kennethlimcp commented on #58
@emilyrose, PR here is waiting for review - https://github.com/spark/particle-cli/pull/55

@dmiddlecamp i'm against making this optional with electron upcoming. It will cause more confusion and support tickets/github issues opened.

I recommend adding the example here: https://github.com/spark/particle-cli/blob/master/commands/CloudCommands.js#L284

`eg. paticle compile core .`

[2015-07-11 00:48] kennethlimcp commented on #56
Did you compile the binary using the Particle Cloud?

Honestly, 1 year and i never had such issues with the Core. I can test if you have the bin to share

[2015-07-11 00:54] pomplesiegel commented on #56
Strange!

Yes, I am compiling the binary using the particle cloud. Happy to share the binary! FYI, the program, itself, will not run nicely, as it expects many i2c peripherals (on our motherboard) to be present at boot-up time. However, that should not matter, as you need only to place it in listening mode.

How shall I send you the file?

[2015-07-11 00:56] kennethlimcp commented on #56
You can PM me in the forum or drop me an email stated on my github profile.

[2015-07-11 00:56] pomplesiegel commented on #56
Great, sending now. thanks!

[2015-07-11 05:23] emilyrose commented on #15
thanks, @kennethlimcp!

[2015-07-11 05:23] #15 closed

[2015-07-11 14:06] kennethlimcp commented on #58
New PR added here: https://github.com/spark/particle-cli/pull/59

Docs pr to be reviewed: #55

[2015-07-11 23:53] jnm2 commented on #45
We are having this issue too. Latest spark-server and latest particle-cli. Any workarounds?

The particle-cli shows exactly what @ukd1 posted.

The server shows:

[2015-07-12 00:18] jnm2 commented on #47
We are having the exact same issue.

[2015-07-12 00:26] javier-rodas opened #60 "[Photon] `particle monitor` not working"
[code]

I have the latest ```particle-cli``` version:
[code]

And I'm testing it over a Photon with a user-application on top of the ```develop firmware``` version 0.4.2.

[2015-07-12 00:44] javier-rodas opened #61 "`particle setup` without WiFi card"
By default the `particle setup` tries to configure the Photon by WiFi using the Soft-AP mode, but I guess this option should not appear when the computer has no WiFi network interface.

In my case I'm running OSX without a WiFi card, and when running the `particle setup` I would have not other option than choosing `No` to the latest question shown below:

[code]

If I choose `Yes` to the latest qu

[2015-07-12 00:50] javier-rodas opened #62 "[Photon] `particle setup` crashes when entering an empty SSID"
[code]

It make no sense to continue with an empty ```SSID``` nor an empty ```password``` (with a "secured" WPA2, WPA or WEP security type).

It also crashes when choosing an empty ```SSID``` with an ```Unsecured``` security type (without password).
[code]

[2015-07-12 00:51] jnm2 opened #63 "Provide option to skip or turn off automagic WiFi setup"
Our company is never going to want a Photon to operate on the same WiFi network as the machine that is setting it up.

The downsides to simply waiting for the automagic WiFi setup are:

 1.  Long wait time
 2. When it fails, it goes into 'multiple nearby photons' select mode even though we want to set up over USB, not WiFi. As it stands, it seems to be impossible to do a manual WiFi setup over USB

[2015-07-12 01:59] kennethlimcp commented on #63
@jnm2 ,

- Place the Photon in listening mode
- `particle serial wifi`

To switch between :cloud: , instructions are clear here: https://github.com/spark/particle-cli#particle-keys-server-ip_address

[2015-07-12 03:46] kennethlimcp commented on #60
@emilyrose i have a fix for this but the code is written some time back and we might want to consider some refactoring for the `particle monitor` command ;)

[2015-07-12 04:21] kennethlimcp commented on #56
@pomplesiegel , as this is more of a firmware issue, do consider closing this if all is good :)

[2015-07-12 04:23] kennethlimcp commented on #44
@Rockvole , do you have more concrete example for this? I see that the CLI will throw an error when compile fails. How are you using it to detect the exit code?

[2015-07-12 04:25] loopj commented on #44
An obvious use case is for running particle compile in a Makefile, since by default a Makefile will not run subsequent tasks if any previous tasks exit with a non-zero exit status.

[2015-07-12 04:26] kennethlimcp commented on #51
@endorama , do you have a PR? Or i can fix this :)

[2015-07-12 04:28] kennethlimcp commented on #44
Cool. i can look into that :+1:

[2015-07-12 14:32] Rockvole commented on #44
Yes thats basically my use case - compile and then flash, if the build fails dont flash and dont ask me for my sudo password.

[2015-07-13 00:39] kennethlimcp commented on #44
@Rockvole, do you have a working script? I used a shell script and got the `console.log` stuff as my output from `$(particle compile photon .)` instead but not the return code.

I see that we might need to use some other stuff like `process.exit()` in order to return a status

[2015-07-13 01:58] Rockvole commented on #44
Yes, this is how I would use it :

[code]

[2015-07-13 03:01] emilyrose commented on #44
This sounds like exactly the kind of use case I'd like to support, so just let me know what we want to do here and I will try to make it work!

[2015-07-13 05:07] Rockvole commented on #44
For my use case return exit code 0 for a successful build and return exit code 1 for fail is fine.

Its up to you if you want to get more fancy with different codes for different types
of failure, or returning a meaningful error code, but I don't think I need that myself.

[2015-07-13 09:23] endorama commented on #51
PR submitted! :)

[2015-07-13 15:09] pomplesiegel commented on #56
Sure, @kennethlimcp. I'll try to close in on the problem a bit more and add a FW issue.

[2015-07-13 15:09] #56 closed

[2015-07-13 15:32] ukd1 commented on #45
@emilyrose this is still happening. I've worked around it by pairing using the iPhone app; but still your tooling appears broken.

I tried over wifi, plus usb.

[code]

[2015-07-13 15:33] dmiddlecamp commented on #45
Hi @ukd1,

  Are you using the local cloud, or the main Particle cloud?

I've noticed some people mention the local cloud, and as far as I know, the claim_code functionality hasn't been extended to the local cloud yet.  You can claim photons using the normal process of ```particle core add device_id``` when working locally.

Thanks,
David

[2015-07-13 15:35] ukd1 commented on #45
@dmiddlecamp I'm just using the CLI tool - I just typed

[code]

that's all :+1:

[2015-07-13 15:42] loopj commented on #44
*1
On Sun, Jul 12, 2015 at 10:07 PM Rockvole <notifications@github.com> wrote:

[2015-07-13 16:33] jnm2 commented on #45
I can see from the code the local cloud has the API `/claim_device` set up which looks like an oversight since it does not match `/device_claims`.

I didn't know about `particle core add`. Mine's a Photon, so I'll have to see if there's an equivalent for that when I get my hands on it again.

[2015-07-13 16:38] dmiddlecamp commented on #45
`core add` will still work for a photon, the claim code is just a new way of registering devices meant to simplify claiming for consumer devices, as well as solve some issues when using devices at big conferences / hackathons.

[2015-07-14 01:40] emilyrose commented on #44
@Rockvole @loopj this sounds reasonable, and frankly I apologize for not having thought of this sooner!

Thanks for the feedback, I'll make sure this gets fixed. :smile_cat:

[2015-07-14 21:26] osmithy opened #66 "Line breaks are ignored in OS X terminal"
When I compile using particle-cli in OS X terminal, errors are spewed out all in one giant line, with "\n" instead of line breaks. Is there a way to control the output such that the terminal will recognize the line breaks?

[2015-07-14 22:46] emilyrose commented on #66
Hey @osmithy,

sorry to hear that you're having trouble. Could you give me a little more context? I'm having trouble picturing what's happening. Perhaps a screenshot or some terminal output if possible? Thanks!

[2015-07-15 17:07] osmithy commented on #66
Totally! Here's a screenshot.
<img width="985" alt="screen shot 2015-07-15 at 10 06 46 am" src="https://cloud.githubusercontent.com/assets/13243398/8704662/3bdae0fa-2ad9-11e5-8e41-4529897aef31.png">

[2015-07-15 19:10] monkbroc commented on #66
This is due to the difference in the API response for compile vs flash when there is a compilation error. @dmiddlecamp would have more insight.

[2015-07-15 19:12] dmiddlecamp commented on #66
Hmm, this doesn't look nested to me, I think the CLI just isn't trying to pretty print the output

[2015-07-15 19:14] osmithy commented on #66
Oh cool, it looks right when I use compile. Thanks for pointing that out! That really helps.

[2015-07-15 19:17] monkbroc commented on #66
You're right @dmiddlecamp. My eyes didn't "parse" the JSON correctly. Thanks for commenting.

[2015-07-16 02:07] gmoore commented on #60
Having the same problem. `particle monitor` throws that stack trace. `particle get [id] [var]` returns a blank line. OSX 10.10.3

[code]

[2015-07-16 02:12] gmoore commented on #60
Looks like we just need

`foundCore = cores[i]`

inserted into line 92 of this file

https://github.com/spark/particle-cli/blob/master/commands/VariableCommand.js

I'm going to bed, so I can't do it right now. Might take a stab at it in the morning.

[2015-07-16 02:19] emilyrose commented on #60
@gmoore I think you're right, although that will also cause a flood of "Which variable did you want?" if you don't specify the variable. This definitely needs to be refactored.

[2015-07-16 05:56] kennethlimcp commented on #60
^^ mentioned above for refactoring :D

[2015-07-16 06:09] #66 closed

[2015-07-16 07:57] emilyrose commented on #63
hey, @jnm2!

I'd love more details on your use case! I'm happy to make a fix for you to make it into an easier workflow.

[2015-07-16 07:58] emilyrose commented on #62
thanks for this report, @javier-rodas!

I've just merged #64 by @kennethlimcp to fix this. Thanks @kennethlimcp!

:smile_cat:

[2015-07-16 08:01] emilyrose commented on #61
@javier-rodas, thank you for the suggestion! I will be working on improving the logic around automagic Wi-Fi and manual modes. I think you propose a sensible way to handle this better.

[2015-07-16 08:01] emilyrose commented on #58
fixed && fixed! thanks again @kennethlimcp! thanks @osmithy :smile:

[2015-07-16 08:01] #58 closed

[2015-07-16 08:03] emilyrose commented on #4
I believe you fixed this, no? :smile:

[2015-07-16 08:03] #4 closed

[2015-07-16 17:50] monkbroc commented on #66
@emilyrose was busy yesterday! Thanks for all the work.

[2015-07-16 17:53] emilyrose commented on #66
@monkbroc no no, thank *you*! :wink:

[2015-07-16 19:58] osmithy commented on #58
You bet! Thank you for being so responsive.

On Thu, Jul 16, 2015 at 1:01 AM, Emily Rose <notifications@github.com>
wrote:

[2015-07-17 21:54] jnm2 commented on #63
@kennethlimcp Thank you, that was helpful. I was following the instructions at https://github.com/spark/spark-server.

@emilyrose We are hosting a private cloud because the network where they will be deployed does not have internet access. The workflow consists of setting up the local keys, setting up the WiFi, then registering the device on the local server for over the air updates. Previously `s

[2015-07-17 22:18] jnm2 commented on #63
@kennethlimcp I think there must be more to it than just `keys server`. I have flashing cyan and the local server console does not show anything.

[2015-07-17 22:33] jnm2 opened #68 "`keys doctor` and `flash --usb` report failure for the Photon even when successful"
If I'm missing something obvious, please be kind. I looked at all the documentation I could find. I've done this successfully in the past with a local server and Cores.

When the Photon is in DFU mode and I run [`keys doctor`](https://github.com/spark/particle-cli#particle-keys-doctor), I get:

[`keys server`](https://github.com/spark/particle-cli#particle-keys-server) works just fine.

[`flash --

[2015-07-18 00:08] kennethlimcp commented on #63
If there is nothing showing up on the server `console.log` then the device did not even connect to the local :cloud: .

You might want to check that the IP is correct etc.

Once `particle keys server public_key.der 192.xxx.xxx.xxx` is executed, it is sufficient to switch to the :cloud:  and see some stuff.

[2015-07-18 00:08] emilyrose commented on #63
@jnm2 this input is very helpful. Thank you for taking the time to explain it so well!

I've also been wanting to refactor the way keys work as well, so this is helpful to consider.

[2015-07-18 22:26] jnm2 commented on #68
I just tried upgrading to [0.4.3](https://github.com/spark/firmware/releases/tag/0.4.3-rc2). `dfu-util -d 2b04:d006 -a 0 -s 0x8020000 -D system-part1-0.4.3-photon.bin` worked fine, and `dfu-util -d 2b04:d006 -a 0 -s 0x8060000:leave -D system-part2-0.4.3-photon.bin` resulted in the same error shown above.

I've also tried all three USB drivers from Zadig.

[2015-07-18 22:30] jnm2 commented on #63
@kennethlimcp I flashed [0.4.3](https://github.com/spark/firmware/releases/tag/0.4.3-rc2). Nowwhen it connects to the WiFi, it flashes brief red a few times. When the Photon flashes red, the server says `Handshake failed:  plaintext was the wrong size: 214`. This makes me think the Photon is not using the correct public key.

[2015-07-18 22:36] wgbartley opened #69 "Fails silently when access token is expired"
It seems that any of the online commands will fail silently when the access token expires.  Wifi setup commands (`particle serial wifi`) works fine, but something like `particle subscribe mine` spits out the following and immediately goes back to command prompt.

[code]

[2015-07-18 23:31] kennethlimcp commented on #63
@jnm2  see: https://github.com/spark/spark-server/issues/45

[2015-07-18 23:50] jnm2 commented on #63
Okay, got it online with the local cloud and breathing cyan.
Since that thread says OTA update is unavailable, I flashed our application binary using `flash --usb` and got the same DFU error. Now the core is breaking cyan but with the red led solid. Tried putting tinker back on, got the same DFU error. Still breathes cyan with the red led solid. Hopefully I haven't broken it?

Since OTA is unavail

[2015-07-19 13:56] kennethlimcp opened #70 "Add public key to CLI"
We should do this and make it available under the `particle keys server ...` command

[2015-07-19 14:45] kennethlimcp opened #71 "wrong value for invalid_grant"
@dmiddlecamp,

while trying to fix another issue, i saw that the implementation for bad token check seems to be incorrect.

The server is returning `invalid_token` while the check is looking for `invalid_grant` at https://github.com/spark/particle-cli/blob/master/lib/ApiClient.js#L800

Can you confirm the actual response for invalid token?

Also, seems like the function `hasBadToken()` is called,

[2015-07-20 15:59] dmiddlecamp commented on #71
Good question!  invalid_token can be returned for an expired token, invalid_grant can be returned when an auth code / user credentials / the refresh token / etc are invalid.  I wonder if something was updated API-side.  I suspect we should check for both?

[2015-07-20 16:04] kennethlimcp commented on #71
Basically i replaced my access token in my profile with some random typed ones to simulate expired token which obviously identified as invalid and not expired.

We should check for both though. I need to dig further into the other issue as well..

[2015-07-21 17:44] crenwick opened #72 "`list` command erroring out."
When I run `$ particle list` I get this output instead of a list of my devices:

[code]

Running v1.5.16, and I am logged in.

[2015-07-21 18:29] emilyrose commented on #72
@crenwick,

Hey! Thanks for the report! It looks like you got some very nasty error output from having a bad token! I will definitely fix this error output to be more helpful. In the mean time it looks like you need to login again.

[2015-07-21 22:11] crenwick commented on #72
Logging in and/or restarting did not resolve the issue. 

- Charles

On Tue, Jul 21, 2015 at 2:29 PM, Emily Rose <notifications@github.com>
wrote:

[2015-07-21 23:33] emilyrose commented on #72
@crenwick,

Please try navigating to ~/.particle/ and removing "access_token" from the file `particle.config.json`
Then try again and let me know what's up!

Thanks for your help!

[2015-07-22 00:32] kennethlimcp commented on #72
@emilyrose this relates to a bigger issue here and the fix might not be to trivial IMO - https://github.com/spark/particle-cli/issues/69

From what i saw few days back, the checks in places are somewhat not working due to *promises* issue and so on..

[2015-07-22 13:16] crenwick commented on #72
Tried the fix, @emilyrose. Unfortunately it didn't seem to help.

[2015-07-22 13:33] kennethlimcp commented on #72
@crenwick i'm wondering what's your **nodeJS** version

[2015-07-22 19:01] crenwick commented on #72
Node is v0.12.6. `particle config identify` reveals an access token and api.particle.io as the API.

[2015-07-23 00:55] kennethlimcp commented on #72
Ok i'm not 100% but the nodeJS version *might* but causing some issues. I have uninstalled CLI and reinstalled but manage to login fine.

What happens with `particle login`?

[2015-07-23 16:14] crenwick commented on #72
Anytime I login I get `> Successfully completed login!` but `list` still gives me the same error as above.

[2015-07-24 01:55] kennethlimcp commented on #72
It looks like your version is not the same though. The line at 799 is different from what i see in the source code.

Can you do `npm uninstall -g particle-cli` and `npm install -g particle-cli` again?

[2015-07-24 14:01] crenwick commented on #72
Just did another reinstall--same error exists, though the line numbers seem to be slightly different.

[code]

[2015-07-24 14:04] kennethlimcp commented on #72
I wonder what happens if you roll back to a much older version.

[2015-07-24 14:08] crenwick commented on #72
`$ particle list` on v1.5.0 gives me:

[code]

[2015-07-24 14:10] kennethlimcp commented on #72
Can you download:

- https://github.com/spark/particle-cli/releases/tag/v1.5.16
- cd in to the directory
- `mkdir node_modules`
- `npm install`
-  `node app.js particle login`
- `node app.js particle list`

[2015-07-24 14:19] crenwick commented on #72
Hmm, for some reason I'm getting `park-CLI: Unknown command: "particle"` when I run `node app.js particle login`.

[2015-07-24 14:19] kennethlimcp commented on #72
opps sorry. should just be the command without **particle**

[2015-07-24 14:21] crenwick commented on #72
Yup--I got the original error output on `list` again...

[2015-07-24 14:22] kennethlimcp commented on #72
Ok that's uber weird. Will have to look into it. Haven't heard of this since most of us as using the latest version. It might have to do with the nodeJS version

[2015-07-24 14:26] crenwick commented on #72
Maybe related... I just ran `token list` and it returned 359,555 tokens.

Yikes!

[2015-07-24 15:19] dmiddlecamp commented on #72
Heya @crenwick ,

  Can you email me at david@particle.io ?  I'm curious what email address / user account you're using with the CLI?

Thanks!
David

[2015-07-24 17:51] crenwick commented on #72
Down to just a few tokens now on the account and the error is still exists.

[2015-07-24 19:50] emilyrose commented on #72
@crenwick ack, this is frustrating!

I've not been able to reproduce this error, but I've made some changes to the way errors are handled so we can at least have a better idea of what's happening.

[2015-07-24 21:27] emilyrose commented on #72
@crenwick,

could you try using curl to see if you're able to retrieve a list of devices?
[code]

Does this output any errors? Same for:

[code]

Thanks for hanging in there. We'll get it figured out :smile:

Also, thanks to @brycekahle for the curl suggestion :+1:

[2015-07-25 01:44] tslater opened #73 "Error flashing "cc3000" or "tinker""
Whenever I try and flash cc3000 or tinker, I get an error that says I'm trying to flash an object instead of a string filepath:

[code]

[2015-07-25 02:30] tslater commented on #73
It looks like they're pulling in the whole object from here (line 67 from settings.js):
[code]

Is "cc3000" not available for photon yet?

[2015-07-25 02:38] kennethlimcp commented on #73
@tslater ,

the Photon uses a Broadcom Wifi module and the CC3000 is used in the Core. We made this "smart" identification so that users don't perform what you are exactly doing.. Which is to flash the binary not meant for that particular device.

Let us know what issues you are facing and we can help you further.

[2015-07-25 02:40] tslater commented on #73
I should be able to flash the tinker but I can't. The cli is trying to use the whole object as the string path.

[2015-07-25 02:41] kennethlimcp commented on #73
@tslater , ok the new version got out few hours ago. I will check and send in a PR when i test it.

Thanks for reporting!

[2015-07-25 02:42] tslater commented on #73
of course!

[2015-07-25 02:44] kennethlimcp commented on #73
Meanwhile, you can do this:

download: https://github.com/spark/particle-cli/blob/master/binaries/photon_tinker.bin

`particle flash --usb photon_tinker.bin`

If it doesn't work for this version, rollback using `npm install -g particle-cli@1.5.16`

[2015-07-25 03:04] emilyrose commented on #73
Hey @tslater, it looks like I published an incomplete update to the way DFU functions. Sorry about that!

I'll post an update and close this issue when I fix it. Thanks!

[2015-07-25 03:06] emilyrose commented on #73
@tslater what command are you using exactly when you flash?

[2015-07-25 03:07] tslater commented on #73
```particle flash --factory tinker```

On Fri, Jul 24, 2015 at 9:06 PM, Emily Rose <notifications@github.com>
wrote:

[2015-07-25 03:08] tslater commented on #73
```particle flash --factory tinker```

[2015-07-25 03:08] emilyrose commented on #73
@tslater if you use `particle flash <device name> tinker` it will prompt you for the device type (select Photon), and use the Cloud to flash tinker remotely :smile_cat:

[2015-07-25 03:08] tslater commented on #73
ok thanks!

[2015-07-25 03:08] emilyrose commented on #73
@tslater absolutely! and thank you for the bug report! I'm working on fixing this issue now :smile:

[2015-07-25 05:44] emilyrose commented on #73
ok, this has been fixed in v1.5.19 (59f2edcba6f75d70c080d4fa13833343edbd8485)

thanks again @tslater :smile_cat: I really appreciate it!

[2015-07-25 05:44] #73 closed

[2015-07-27 14:15] crenwick commented on #72
Hi Emily.
Running the curl command with `/devices` gives me an output of my devices, but with `/webhooks` only responds with an empty array.

At least there is now a command I can run to get the status / list of my devices. :+1:

[2015-07-27 16:35] emilyrose commented on #72
@crenwick,

I've also published a new version with a slight revision to how errors are being handled. Try v1.5.19 and let me know if you still see any error output, thanks!

[2015-07-27 18:15] alexanian commented on #6
I get the same error whenever I try to auto detect the wireless security type. Image shown below:
![error](https://cloud.githubusercontent.com/assets/7595169/8913900/cdc60672-3469-11e5-8494-00748592f968.png)

I'm on Windows running git bash as my connection to the particle CLI.

[2015-07-27 19:12] emilyrose commented on #6
@alexanian, ack!

Do you still get an error if you choose "no" at the prompt for auto-detecting wireless security type?

[2015-07-27 19:14] alexanian commented on #6
Nope, no issue if I just enter "n" and choose the security from the list.

[2015-07-27 21:12] crenwick commented on #72
1.5.19 fixes the issue. Thanks @emilyrose! And :+1: on the console output colors.

[2015-07-27 23:53] kennethlimcp opened #74 "Udev reference"
https://community.particle.io/t/dfu-util-udev-rules/11440

[2015-07-27 23:54] emilyrose commented on #72
yay! I'm glad we got this figured out, thanks again for all your help, @crenwick.

I'm glad you noticed the colors, too. I thought you might like them.

[2015-07-27 23:54] #72 closed

[2015-07-28 00:03] monkbroc commented on #74
I can look into detecting when `particle flash --usb` fails on Linux and prompt the user to install the udev rules.

[2015-07-28 00:26] emilyrose commented on #74
@monkbroc I would love that :smile_cat:

[2015-07-28 17:56] towynlin opened #75 "Failed setup report on new Photon on Windows"
From a tech support ticket. User was eventually able to setup using serial on his computer.

[code]

[2015-07-31 00:54] kennethlimcp opened #76 "`particle serial info`"
Adding a command to retrieve the system information for the Photon and the Electron will be easily than getting people to open up a serial terminal and hit "s"

[2015-07-31 00:56] zsup commented on #76
Agreed; would also be helpful to take the opportunity to make that info more human readable

[2015-07-31 00:57] kennethlimcp commented on #76
definitely. :+1:

[2015-08-01 22:07] ScruffR opened #77 "No such file, when trying"
It used to be a common tip for users to reflash tinker via CLI if something got a bit hairy, but recently it seems to have stopped working
When trying `particle flash --usb tinker`, I get this
[code]

And for the Core respectively.

[2015-08-01 22:14] monkbroc commented on #77
I got that on Ubuntu as well a couple days ago and I just thought my particle-cli install was corrupted.

[2015-08-02 00:45] kennethlimcp commented on #77
We need to have the last bits of the PR pulled in - https://github.com/spark/particle-cli/commit/5483ada0d0ce5a6ec6dbaf178ec92a87aa3e593f#diff-2d78dada12f5fa4f3183bc45f30f590cL87

[2015-08-03 02:07] kennethlimcp opened #78 "Test list"
- [ ] binaries are referenced with absolute path and not relative
- [ ] sudo setting for dfu uses it when executing `dfu-util`
- [ ] mock the dfu devices and test `--usb` flashing

[2015-08-03 13:23] kennethlimcp opened #80 "DFU verbose not showing"
Seems like commit https://github.com/spark/particle-cli/pull/65 broke the default showing of `stdout` on the console and we have to fix that while using another strategy to eventually allow users to turn off all verbose via a settings flag.

[2015-08-04 01:24] kennethlimcp commented on #77
Fixed here: https://github.com/spark/particle-cli/commit/1b60c14984bffc308436c83cef8b88bc0016d0d5

[2015-08-04 14:09] kennethlimcp opened #84 "[Proposal] Handle output logs"
This will help create a non-interactive CLI by changing the log level that the user wants to have displayed.

Two possible packages:
- https://github.com/winstonjs/winston
- https://github.com/npm/npmlog

Winston is cool and you can do more fancy stuff with transporting the logs to somewhere else which might be useful for CI/CD environment while npmlog is kinda simple, sleek and easy to handle.

[2015-08-04 14:12] kennethlimcp opened #85 "[Proposal] particle serial terminal"
This is similar to `particle serial monitor` but user input will be passed to the device as well. It should be a single char passed each time a key is pressed.

[2015-08-04 15:06] joegoggins commented on #85
:+1: this would be an extremely useful feature. It would be awesome if the command had an option that would open a serial connection to device, enter a character sequence, return the output to stdout, and exit.  Perhaps my feature request is a bit different than what Kenneth is describing, my use case is more like a generalized version of `particle identify`

To contextualize my use case, here is

[2015-08-04 15:07] kennethlimcp commented on #85
`particle serial send xxx` ?

[2015-08-04 15:09] joegoggins commented on #85
Perfect.

On Tue, Aug 4, 2015 at 10:07 AM, Kenneth Lim <notifications@github.com>
wrote:

[2015-08-04 15:24] monkbroc commented on #85
For `particle serial terminal`, a useful feature would be to reopen the serial port automatically after a device reset. It's a pain right now to use another terminal program that needs to be reopened whenever the device is reflashed. I end up missing the first few lines of output unless I put a big `delay` at the beginning of the user firmware...

[2015-08-04 18:17] #53 closed

[2015-08-04 18:52] #16 closed

[2015-08-04 18:52] #17 closed

[2015-08-04 18:52] #22 closed

[2015-08-04 18:53] emilyrose commented on #36
thanks again for your help with this one, @kennethlimcp :smile_cat:

[2015-08-04 18:53] #36 closed

[2015-08-04 18:53] emilyrose commented on #51
yay! thanks @endorama! :heart:

[2015-08-04 18:53] #51 closed

[2015-08-04 18:53] #62 closed

[2015-08-04 18:55] emilyrose commented on #85
would it also be useful if we allow users to specify whether they want each char sent immediately, or if they want to queue them up and then send on newline? This would be helpful against typos when playing with basic protocols that are newline terminated.

[2015-08-04 18:55] emilyrose commented on #84
I love winston myself, and you mention the ability to send logs elsewhere which might be useful for us too.

[2015-08-04 18:56] emilyrose commented on #77
thanks again for the report @ScruffR, sorry about that!

[2015-08-04 18:56] #77 closed

[2015-08-04 18:57] emilyrose commented on #76
with the Electron it sounds like we'll also need to handle parsing additional information like IMEI/SIM card info.

[2015-08-04 18:58] emilyrose commented on #70
agreed.

[2015-08-04 18:59] #23 closed

[2015-08-04 20:49] joegoggins commented on #84
:+1:

The key use case I'd love to accommodate regarding output, is the ability to get machine readable output via a flag. It would cool if it were a global flag that you could pass to sub-command.

 I've seen this done a couple of different ways for pre-dominantly human-facing tools: as JSON (chef's knife) or as CSV (terraform apply). Either approach would be great.

Having this ability would cre

[2015-08-07 00:36] TheSauceMan commented on #75
Hi, I reported this issue.  What additional information can I provide to get this resolved?  I can investigate, however I'm not [yet] a node.js expert.

[2015-08-07 22:17] joegoggins opened #90 "Send product_id=6 on `particle keys send <device-id> some-key.pub.pem` for photon"
In our automation scripts that test devices against different clouds, we frequently use the `particle keys send` command to allow a device to connect to it. The API endpoint behind this command accepts a product_id parameter.  Can we find a way to pass this information along with the "send key" command too? Perhaps just an optional `--product-id` param would do the trick.

[2015-08-07 22:34] emilyrose commented on #90
Oh wow! is this why my devices 'randomly' start showing up as Cores?

[2015-08-07 22:45] joegoggins commented on #90
No. Different reason. That was due to a recently fixed bug in the Web IDE that overwrote the product_id.

This feature enhancement idea mainly helps when pointing devices at different clouds that haven't already connected and been claimed to a user account or that don't have ANY keys stored in the cloud's database.

[2015-08-12 20:56] dwcares commented on #10
Has anyone tried a photon on windows 10 without a driver? Not working for me

[2015-08-12 21:07] emilyrose commented on #10
@dwcares I haven't! If https://github.com/spark/particle-cli/commit/7fc5b338a70d0ff754a9eff023a5c09eef5ac178 isn't a fix we should definitely figure something out. I wonder if @kennethlimcp has any input here.

[2015-08-13 02:55] kennethlimcp commented on #10
@dwcares the fix i sent is similar to what you wrote? I'm not sure what the device profile looks like without a driver though. Can you make sure your `particle-cli` is the latest?

[2015-08-13 02:57] brycekahle commented on #10
I can give this a try tonight.

[2015-08-17 05:54] brycekahle commented on #10
Confirmed not working on Windows 10. The issue is that the manufacturer is reported as Microsoft, not `Particle` or `Spark`. Here is the output from `node-serialport`:

[code]

[2015-08-17 17:54] brycekahle commented on #69
Thanks for the bug report @wgbartley. I'll look into storing refresh tokens and detecting this state automatically and grabbing a new token.

[2015-08-17 17:57] brycekahle commented on #75
@TheSauceMan What version of Windows are you on?

[2015-08-17 18:35] TheSauceMan commented on #75
I'm on Windows 7

-------- Original message --------
From: Bryce Kahle <notifications@github.com>
Date: 08/17/2015  10:57 AM  (GMT-08:00)
To: spark/particle-cli <particle-cli@noreply.github.com>
Cc: TheSauceMan <sosman@terratron.com>
Subject: Re: [particle-cli] Failed setup report on new Photon on Windows (#75)

@TheSauceMan What version of Windows are you on?

—
Reply to this email directly or vi

[2015-08-17 21:08] #10 closed

[2015-08-17 21:34] dmiddlecamp commented on #69
I think some of the other api calls detect an expired session, it might also be nice to make sure we show the appropriate error here if our session is expired while we work on the refresh behavior.

[2015-08-17 23:10] #80 closed

[2015-08-18 00:33] #6 closed

[2015-08-18 00:36] #8 closed

[2015-08-18 00:41] brycekahle commented on #45
@ukd1 I've seen that error when the access token is expired or invalid. Can you try to logout and then login?

[2015-08-18 00:52] brycekahle commented on #47
I just tried to reproduce this and could not. Closing, but please re-open if you experience it again with the current version.

[2015-08-18 00:52] #47 closed

[2015-08-18 00:53] brycekahle commented on #20
Which part of the process was this? I cannot reproduce it.

[2015-08-18 01:14] brycekahle commented on #48
I think we can use `networksetup -listallhardwareports` and find all ports with `Wi-Fi` in the `Hardware Port`.

Example output:
[code]

[2015-08-18 01:40] #48 closed

[2015-08-18 01:41] #71 closed

[2015-08-18 01:43] brycekahle opened #91 "Store and use refresh tokens from API"
When we detect an expired token (see #71) we should attempt to use a stored refresh token. If no `refresh_token` is stored, we should prompt the user to login instead of displaying an error message.

[2015-08-18 16:53] ukd1 commented on #45
@brycekahle I did that at the time, also I fixed for myself by using the app. I don't really have much time to play, so likely won't be able to help any further now I've worked around it for me...sorry.

[2015-08-18 16:55] dmiddlecamp commented on #45
we saw this recently during the hackathon, I don't have more details, but I think we saw it with a good access token.

[2015-08-18 19:41] jenesaisdiq opened #92 "Bringin' back the shouting rainbows"
As a user of the CLI,
I would like to experience rainbow-colored joy upon successful setup of a device,
because it used to do that, and also I like pretty lights.

[2015-08-18 19:43] monkbroc commented on #92
![](http://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif)

[2015-08-18 19:43] jenesaisdiq commented on #92
^ this guy knows what I'm talking about

[2015-08-18 23:03] mtwomey opened #93 "Error with flashing via USB on Mac (since 1.5.17)"
Flashing via USB on a Mac appears to have broken starting with 1.5.17 onwards. This appears to be related to changes to how the dfu-util process is launched / spawned.

[code]

Note that directly executing the command works fine:

[code]

[2015-08-18 23:16] chobberoni opened #94 "[Windows10] "Particle Serial Wifi" Crashes"
pastebin link: http://pastebin.com/4BpMP2tr

[code]

[2015-08-19 21:22] joegoggins opened #95 "`particle firmware-version` command"
On the latest firmware (0.4.4), if you type "v" over serial to a Photon, you'll get something like like: "System Firmware: 0.4.4", it would be great to encapsulate this via the CLI with command like `particle firmware-version`.

Additionally, if you type "s" over serial to a Photon, you'll get a bunch of .json illustrating the detailed versions and dependencies information. It would be cool to exp

[2015-08-19 23:37] brycekahle commented on #93
Can you try with 1.6.3? The way DFU is launched is reverted.

[2015-08-19 23:37] brycekahle commented on #94
This was fixed with https://github.com/spark/particle-cli/commit/c6296b5a7d5b21fd22e9beb0d6a1bece9402209e

[2015-08-19 23:37] #94 closed

[2015-08-20 20:37] #60 closed

[2015-08-21 01:56] #57 closed

[2015-08-21 02:00] #52 closed

[2015-08-21 02:01] brycekahle commented on #69
Fixed with https://github.com/spark/particle-cli/commit/da1668ad862f1baaa4f6de911955f90b267319a9

[2015-08-21 02:01] #69 closed

[2015-08-21 02:02] brycekahle commented on #20
Details about your environment would help too. OS, shell, etc.

[2015-08-21 16:26] dmiddlecamp opened #96 "feature idea - 'particle list [online/offline/device-type/device-name]'"
I'm finding I just want to see what devices are online, or see my photons, or get the info for a specific device, what if we could run:

`particle list online`

and that would filter the list?  Same thing for offline, device type or device name, thoughts?

[2015-08-21 17:23] joegoggins commented on #96
+1 , great suggestion! Several scripts I've written achieve this functionality via `particle list | grep "online"`, which is dumb and omits useful information (variables + function details). This proposed feature would be a great and welcome replacement for that.

[2015-08-21 19:07] brycekahle opened #97 "Auto connect on Windows"
It appears we can do this with `netsh`, but we may have to create a "profile". The [documentation](https://msdn.microsoft.com/en-us/library/windows/desktop/aa369853%28v=vs.85%29.aspx) has a bunch of samples. Perhaps we should roll the connect functionality in with `node-wifiscanner` and create a `node-wifi` module?

[netsh documentation](https://technet.microsoft.com/en-us/library/Cc755301%28v=WS.

[2015-08-21 19:27] brycekahle commented on #44
Looks like this was fixed with https://github.com/spark/particle-cli/commit/60afa74fa1189c2efa40f553b435494fbe9969dd

[2015-08-21 19:27] #44 closed

[2015-08-21 20:33] pomplesiegel opened #98 "`particle setup` does not allow naming of a Photon"
I've tried setting up multiple Photons through `particle setup` and every time I'm not prompted to name the photon, unlike with a Core. Instead, I have to fish it out of our account with `particle list`, where it's been automatically named `<no name>`.

Is there something missing here because the first time it checks w/ the Photon, it's not yet online (getting a FW update or attempting to connect)

[2015-08-21 20:59] brycekahle commented on #98
Thanks for the report. We will try to get tackle this ASAP.

[2015-08-21 22:01] pomplesiegel opened #99 "particle setup"
Potentially unhandled rejection [2] Unable to find mac address in response (WARNING: non-Error used)

[2015-08-21 22:02] pomplesiegel opened #100 "particle setup: mac address error"
when running `particle setup` on photon, cmd line returns
[code]

[2015-08-21 22:12] pomplesiegel opened #101 "`particle setup` prompts for Mac OS X system password three times, every time"
![image](https://cloud.githubusercontent.com/assets/1450352/9420085/e0ed6518-482f-11e5-8e7e-4c6e3ed931c1.png)

`particle setup` requires the user enter the Mac OS X system password three times, back to back throughout each setup of a Photon for `networksetup`.

[2015-08-21 22:14] brycekahle commented on #99
Duplicate of #100 which has more information

[2015-08-21 22:14] #99 closed

[2015-08-21 23:28] #100 closed

[2015-08-23 03:52] mtwomey commented on #93
Yes sir! That fixed it, thank you!

[2015-08-23 04:00] #93 closed

[2015-08-24 01:17] #98 closed

[2015-08-24 01:44] #101 closed

[2015-08-24 01:57] brycekahle commented on #75
@TheSauceMan Can you give 1.6.5 a try? It should allow you to proceed with setup in manual mode now.

[2015-08-24 02:04] brycekahle commented on #32
@kennethlimcp You would need flags for both system part 1 and system part 2 right?

[2015-08-24 02:11] brycekahle commented on #68
@jnm2 The `Error during download get_status` is not an actual error. `dfu-util` reports that even if the system part 2 flash was successful. We need to fix the flash command to not report failure in this case.

The breathing red is probably something related to your local cloud setup, possibly related to keys.

[2015-08-24 02:22] kennethlimcp commented on #32
I guess that is done using `particle update` already?

[2015-08-24 02:23] brycekahle commented on #32
Yes, but that command is hard-coded to a specific version.

[2015-08-24 02:24] kennethlimcp commented on #32
Yes right. Something like`particle flash --system1` and `particle system2` might be good thought syntax sounds a little weird.

[2015-08-24 05:16] m-mcgowan commented on #32
Hey Guys! The CLI can examine the binary and know if it's part1 or part2 using the binary-image-reader lib. so ideally you can just write

[code]
and all 3 binaries end up in the right place.  Since there's no special flags to denote type of image/location, less room for user error.

[2015-08-24 10:24] kennethlimcp commented on #32
Won't mind helping to build though the existence of that library is not known to me until now.

[2015-08-24 16:47] TheSauceMan commented on #75
@brycekahle Tested.  First I confirmed the failure with the previous version I was running.  Incidentally, you should have a "particle version" or something command to find out what version is installed.

I tried it twice, once with the particle plugged into a USB charger / power supply, and once with it connected to my laptop.  Note that in the first example I had gone through a button press that

[2015-08-24 16:50] TheSauceMan commented on #75
Test #1 (with 1.6.5).  Succeeded, but a little ugly.  Not sure what the cause was, I can repeat if you wish.

[code]

[2015-08-24 16:51] TheSauceMan commented on #75
Test #2, also succeeded.  This one was less sketchy in terms of bad behavior, but I can't help but feel -- particularly since I know this is 2 commands in PuTTY -- that I went through many unnecessary steps and also had to use a WIFI device when it was absolutely not necessary.

[code]

[2015-08-24 16:53] brycekahle commented on #75
@TheSauceMan `npm list particle-cli -g` should tell you the installed version.

Agreed that needing wifi is not a strict requirement, #61 is tracking that feature request if you want to add anything. Currently the new claiming process is not possible over USB serial, so we would need to switch to the alternative claiming process.

Glad you to hear you that are able to get through the process thoug

[2015-08-24 16:53] #75 closed

[2015-08-24 17:07] TheSauceMan commented on #75
@brycekahle
Hi Bryce,

Thanks for the quick response.  I don't understand why the new claiming process is not possible over USB?  I was able to do so in the past just using PuTTY with the serial-over-USB feature.  Was that ability removed with the latest firmware?

Sauce

[2015-08-24 17:19] brycekahle commented on #75
@TheSauceMan Wi-Fi configuration is definitely still possible over USB serial. The new claiming process involves getting a claim code from the cloud, then sending that to the device, which reports it to the cloud when it comes online. This is how we make the user <-> device link.

Currently this new process is only possible over SoftAP. To setup a device using just USB serial, we can use the claim

[2015-08-25 21:36] chobberoni commented on #32
@kennethlimcp you're great man! truly great.

[2015-08-26 01:04] kennethlimcp opened #103 "V1.6.7 breaks serial"
[code]

[2015-08-26 01:45] jme783 opened #104 "Cryptic error message for duplicate device names"
[code]

This is the output when I already have a device named `dontTouchMahCore`

[2015-08-26 01:46] kennethlimcp commented on #104
Is there or does the endpoint allow us to check for duplicate names? `particle list` seems to be an expensive call though it's still pretty speedy.

[2015-08-26 01:47] kennethlimcp commented on #103
Fixed with reverting and bumping to V1.6.8. Closing.

[2015-08-26 01:47] #103 closed

[2015-08-26 02:06] brycekahle commented on #104
The list endpoint would actually be faster than checking an individual device because the individual device endpoint actually talks to the device.

[2015-08-26 21:42] brycekahle commented on #63
This feels like a duplicate of #61

[2015-08-26 21:42] #63 closed

[2015-08-27 18:22] dmiddlecamp opened #105 "document "particle update" feature in Readme and on docs"

[2015-08-30 02:29] harrisonhjones opened #106 "Prompt to write device ID to the clipboard"
Using [clipboard](https://www.npmjs.com/package/clipboard) prompt the user to copy the device ID to the system clipboard after a `particle identify` command. If more than one device is detected allow the user to select which device to copy.

I'll work on a PR for this but I wanted to put it up for exposure.

[Edit] Oh lord, don't use clipboard. It doesn't compile on windows. Use [copy-paste](https

[2015-08-30 17:51] dmiddlecamp opened #107 "particle update - should also work OTA"
if you specify a device name / id, it could send the system updates over the air?

[2015-08-31 05:10] m-mcgowan commented on #107
Nice idea.  I imagine this triggers the auto-updater to start the update process and the appropriate binaries if the device is out of date. Managing the update from the cloud would be simpler in the long run since the cloud sees the current installed state of the device.

Have to be very careful we don't inadvertently downgrade the modules on a device until that is supported in the auto-updater si

[2015-08-31 14:39] dmiddlecamp opened #108 "allow configuration of proxy servers for api access"
We can expose a configuration setting to set a 'proxy' option on our ApiClient, here is some documentation on that option:

https://github.com/request/request#proxies

suggested syntax?

particle config webProxy https://someServer.foo

I think it should already check for those environment variables already being set?

[2015-09-02 20:24] pomplesiegel opened #110 "Dashes now not allowed in device names?"
Strange behavior when attempting to claim/rename a Photon with a name containing dashes, using the latest cli.

For example, if I attempt to claim or rename a photon to the name
`GX-LT-0001`, cli returns the message
````Failed to rename <device name>, server said undefined````

but when calling `particle list` there is now a claimed photon called `GX_LT_0001` (underscores)

Is this a bug or an int

[2015-09-02 20:28] brycekahle commented on #110
Thanks for the bug report. We did start doing some device name sanitizing, but it shouldn't be replacing dashes. I'll get that fixed and report back here. Sorry!

[2015-09-02 20:29] pomplesiegel commented on #110
Great, thank you!

[2015-09-02 22:45] brycekahle commented on #110
This should be fixed now. Sorry about that @pomplesiegel

[2015-09-02 22:45] #110 closed

[2015-09-02 23:52] pomplesiegel commented on #110
Hey @brycekahle, when attempting to rename a Photon to a new name containing dashes, i'm getting back

````Failed to rename <Photon name>, server said [ {} ]````

[2015-09-02 23:53] kennethlimcp commented on #110
Hmm... it worked for me:

[code]

[2015-09-02 23:53] brycekahle commented on #110
What is the name you are trying?

[2015-09-02 23:54] pomplesiegel commented on #110
````GL-EA-9002````

[2015-09-02 23:55] pomplesiegel commented on #110
Just tried ````particle device rename UART_Test1 GL-EA-9002````

[2015-09-02 23:55] brycekahle commented on #110
Can you try using the device id instead of `UART_Test1`?

[2015-09-02 23:57] pomplesiegel commented on #110
OK, Just tried, and same result

[2015-09-03 00:00] brycekahle commented on #110
Can you try hitting the API directly using `curl` and pasting the output (sanitized of your access token of course)? If you need the command, let me know.

[2015-09-03 00:51] pomplesiegel commented on #110
Resolved w/ @brycekahle's help

[2015-09-03 12:20] BrianGenisio opened #111 "Support I2C devices"
This will be in conjunction with a VoodooSpark update as well.  I'm starting work on this, but I wanted to create an issue to track questions and conversations here.

[2015-09-03 12:20] BrianGenisio commented on #111
Looking through firmata.js and J5, I see that J5 only uses the newer i2c prefixed API calls on the IO layer. There are a handful of other calls (i2cRequest, sendI2CConfig, sendI2CWriteRequest, and sendI2CReadRequest) which are not used by J5. Are these deprecated? Or should a complete IO implementation for particle-io include these other functions as well?

[2015-09-03 12:32] BrianGenisio commented on #111
I see that the [Tessel-io](https://github.com/rwaldron/tessel-io/blob/master/lib/tessel.js) does implement the old functions, and does argument massaging to make sure the two interfaces work with the same, aliased function.

I'll just use this pattern.

[2015-09-03 16:04] emilyrose commented on #111
Hey @BrianGenisio,

Although I am also super interested in Johnny-five as it relates to Particle, I'm not sure what the intent of this issue is. Would you mind clarifying what exactly it is you'd like to see change in the Particle CLI?

[2015-09-03 17:58] BrianGenisio commented on #111
I'm a jerk.  Meant to open this in `particle-io` not `particle-cli`.  Sorry!

[2015-09-03 17:58] #111 closed

[2015-09-03 20:47] emilyrose commented on #111
@BrianGenisio hey, that doesn't even come close to making you a jerk! :smile_cat:

I was just confused and thought I was maybe missing something, but this makes more sense.

I definitely need to make the time to revisit J5 on Particle!

[2015-09-04 00:07] kennethlimcp opened #112 "[Webhook] invalid deviceID gets timeout"
Try:

[code]

[2015-09-04 00:10] kennethlimcp commented on #112
Ok this is related to a bigger problem with webhooks. Closing this and writing up in a private thread

[2015-09-04 00:10] #112 closed

[2015-09-04 18:59] pomplesiegel opened #113 "`Token error: Problem requesting variable: Timed out`"
[code]

Is this a normal timeout error due to a device being offline, or is this something else?
This occurs for only one Photon on our account, and the device name is correct.
Our query is to `get` a variable which definitely exists
[code]
This command works for other online Photons.

[2015-09-04 19:31] brycekahle commented on #113
That appears to be a misleading error message. It has nothing to do with the token. `Timed out` is the real error.

[2015-09-04 22:49] pomplesiegel commented on #113
OK, great! Just thought I'd bring it to your attention, as I wondered why the word token appeared in this at all. Sounds like only the error message needs to be changed. Thanks!

[2015-09-05 07:44] kennethlimcp opened #114 "Interactively prompt to request transfer if needed"
The current output says:

[code]

We can prompt yes/No to request transfer, take it over if it is a Photon etc..

[2015-09-07 15:28] anjiro opened #115 "`particle flash` won't remote compile with `--usb`"
`particle help flash` claims the following:

[code]
However:

[code]

It does work as expected with `particle flash <device id> blinky`.

[2015-09-07 15:29] kennethlimcp commented on #115
it should probably be:

[code]

[2015-09-07 16:22] anjiro commented on #115
Right, expressly compiling first works. If `particle flash --usb xxxx` isn't supported then the documentation for the command should reflect that.

[2015-09-08 09:16] ScruffR opened #116 "Show current CLI version number on `particle help`"

[2015-09-08 09:27] kennethlimcp commented on #116
@ScruffR PR welcomed! :)

[2015-09-08 09:47] kennethlimcp commented on #95
@joegoggins suggesting `particle device version` with alias `particle device v` for this under the verb **device** command. Sounds good?

[2015-09-08 09:49] kennethlimcp commented on #116
Example:

[code]

[2015-09-08 15:25] dmiddlecamp commented on #95
can we just include this as part of `identify` ?

[2015-09-08 15:47] kennethlimcp commented on #95
`particle identify`? Hmmm... How should we format all of them properly as one data set then? JSON?

[2015-09-08 15:48] dmiddlecamp commented on #95
nah, just pretty output, for example:

[code]

[2015-09-08 15:49] kennethlimcp commented on #95
But `s` is not pretty... ^^ settles `i` and `v`

[2015-09-08 15:54] dmiddlecamp commented on #95
I imagine we'll be adding 'system-firmware version' to the device attributes endpoint on the API in the next sprint or two, as well as the raw version info for the system-parts / platforms.  I think that will help parse the module json client-side if needed as well.

[2015-09-08 15:56] kennethlimcp commented on #95
We should get that info off the device as much as possible for accuracy? Like i did `particle update` and i want to check immediately so might be good to just pull off serial instead of relying on cloud info

[2015-09-08 16:56] brycekahle commented on #116
You can do `particle --version` right now, but I agree we should add it to the help output

[2015-09-08 19:19] dmiddlecamp opened #117 "interactive delete webhooks by event_name?"
[code]

[2015-09-08 20:53] towynlin commented on #92
Adding my support :+1: to help disambiguate which Photon I'm talking to when there are multiple in the room and I'm unsure which device has which SSID.

[2015-09-08 21:05] towynlin opened #118 "CLI fails to find Photon AP even though computer sees it"
Elite member @ScruffR has reported this on Windows with particle-cli version 1.6.9.

For him `particle wireless list` and `particle wireless monitor` both fail to find the AP, but he can manually connect the computer to the Photon AP and get responses using the setup protocol.

[2015-09-08 21:31] brycekahle commented on #118
Can you run `netsh wlan show networks mode=Bssid` and post the output here?

[2015-09-08 21:50] #116 closed

[2015-09-08 22:04] #113 closed

[2015-09-09 05:39] ScruffR commented on #118
As written in my original post on slack I even can connect my Windows 8.1Pro 64bit (with Broadcom 802.11abgn Wireless SDIO Adapter BCMSDH43xx) to the Photon AP and download the "Hello-Message" from the device.
[code]

All my Photons (with 0.4.4) act the same.

[2015-09-09 16:05] Applepi opened #119 "npm particle-cli failing."
npm WARN engine hawk@3.1.0: wanted: {"node":">=0.10.32"} (current: {"node":"0.10.29","npm":"1.4.21"})
npm WARN engine cryptiles@2.0.5: wanted: {"node":">=0.10.40"} (current: {"node":"0.10.29","npm":"1.4.21"})
\

npm WARN This failure might be due to the use of legacy binary "node"
npm WARN For further explanations, please read
/usr/share/doc/nodejs/README.Debian

npm ERR! serialport@1.7.4 install:

[2015-09-09 16:10] Applepi commented on #119
fixed by installing nodejs-legacy

[2015-09-09 17:27] brycekahle commented on #119
Can you post the entire contents of the `npm-debug.log` file? This appears to be missing crucial details.

[2015-09-09 17:28] brycekahle commented on #118
Aha, so `node-wifiscanner2` isn't expecting German in the output. I'll see if I can add some locale switching to it.

[2015-09-10 08:59] kennethlimcp opened #121 "Provide manual mode option when no wifi list returned"
While trying out the setup workflow using `particle setup` i ended up stuck here:

[code]

[2015-09-10 09:00] kennethlimcp opened #122 "Setup hangs after manual wifi input"
I think the issue is that i am already connected to the AP of the Photon and was prompted to switch back to a connection with internet and led to this failing.

[code]

[2015-09-10 09:59] kennethlimcp commented on #92
Ok i tested this briefly and `particle nyan deviceID on/off` works fine. `all` does not work with the use of interactive prompt for `listDevices`. Should not be too tough a fix.

@jenesaisdiq can you try that? `deviceID` or `deviceName` worked for me

[2015-09-10 11:12] kennethlimcp commented on #20
Try `particle serial wifi` and hit backspace

[2015-09-10 12:25] kennethlimcp opened #123 "particle flash cryptic error"
[code]

[2015-09-10 15:28] brycekahle commented on #122
So you were connected to the Photon AP at this point? You should be, `Obtaining device information` is attempting to talk to the Photon.

[2015-09-10 15:29] brycekahle commented on #121
Good idea.

[2015-09-10 15:29] kennethlimcp commented on #122
Yes it just stays at `Obtaining device information` forever

[2015-09-10 15:30] brycekahle commented on #20
Yeah, it doesn't happen for me. What shell are you using?

[2015-09-10 15:30] brycekahle commented on #122
Ok. We probably need a timeout of some sort there.

[2015-09-10 15:31] kennethlimcp commented on #20
just normal mac terminal

[2015-09-10 15:34] brycekahle commented on #92
@kennethlimcp Can you file that as a separate issue since this is about the setup process?

[2015-09-10 15:35] brycekahle commented on #20
Does it still happen with `1.7.0`?

[2015-09-10 15:35] kennethlimcp commented on #20
Seeing is believing - https://dl.dropboxusercontent.com/u/36134145/CLI-backspace-issue.mov

[2015-09-10 15:37] brycekahle commented on #20
Thanks. That helps a lot actually.

[2015-09-10 15:37] kennethlimcp commented on #20
Update to `v1.7.01 but not surprisingly it behaved the same

[2015-09-10 15:38] kennethlimcp opened #124 "nyan command failed for `all`"
Ok i tested this briefly and `particle nyan deviceID on/off` works fine. `all` does not work with the introduction of interactive prompt for listDevices. Should not be too tough a fix.

[2015-09-10 15:43] brycekahle commented on #124
Can you try `particle nyan on`?

[2015-09-10 15:57] kennethlimcp commented on #124
hmmm.. interesting.. they actually work. The shell made it look at though it didn't. Somewhere in the code it is not exiting correctly.

[2015-09-10 23:57] towynlin commented on #114
:+1:

[2015-09-11 00:16] towynlin commented on #114
:+1:

To add some more detail — Kenneth got this by doing `particle device add xxx` which uses the Core claiming process. For a Photon, soft AP is a better alternative, but the Core process will work with either device. In any case, for the Core claiming process (using either device), we should interactively prompt to initiate a transfer rather than throwing the error.

[2015-09-12 10:13] kennethlimcp opened #126 "mention security type detected for clarity"
The auto detection is cool but even cooler if we mention the security type just for people to visually see the verbose:

[code]

[2015-09-12 14:32] dwcares commented on #10
The fix looks good. I'll try it ASAP. Thank you

[2015-09-14 21:40] pomplesiegel commented on #101
@brycekahle, is this fix pulled into the current CLI? I'm still having the same issue on Mac OS X, running 10.10.4.

[2015-09-14 21:51] brycekahle commented on #101
Yes, it is part of the released version. What terminal are you using? I wonder if that has something to do with it.

[2015-09-14 21:52] pomplesiegel commented on #101
Oh, I see. I'm using OS X's native terminal.

[2015-09-14 22:14] brycekahle commented on #101
You get prompted 3 times still? I would expect once, but not 3 times.

[2015-09-14 22:15] brycekahle commented on #124
So is this still an issue?

[2015-09-15 00:10] pomplesiegel commented on #101
Currently seeing 3 times, every time. Running 1.8.3 in the native terminal. Installed via homebrew -> npm -> particle-cli

[2015-09-15 00:10] pomplesiegel opened #127 "False error: "It doesn't look like your Photon has made it to the cloud yet.""
After setting up 5 photons in a row, the fifth is happily connected to our network, breathing cyan. However, cli repeatedly reads

[code]

When pressing `Check again`... it comes right back to this screen, even though the Photon is connected. Had to begin setup again to name this Photon and finish setup.

[2015-09-15 00:14] kennethlimcp commented on #124
Guess not!

[2015-09-15 00:14] #124 closed

[2015-09-15 01:23] dmiddlecamp opened #128 "particle flash --usb says "Error writing firmware...no known App found." when file doesn't exist"
can we give a more helpful explanation as to what's happening, maybe show trying known apps vs. files?

[2015-09-15 04:33] kennethlimcp commented on #128
@dmiddlecamp it is supposed to check if the keyword matches a known app or mention file doesn't exist. Is that not the behavior now?

[2015-09-15 04:36] kennethlimcp opened #129 "unhandled reject when file doesn't exists"
[code]

[2015-09-15 12:03] amicoleo opened #130 "Particle setup function does not complete successfully"
Just a minor issue. But when setting up Photons with the command line, the sequence does not seem to complete successfully. I have the following line printed

    ! It doesn't look like your Photon has made it to the cloud yet.

Although if I unplug/plug back again the Photon, it connects fine (breathing cyan).
I'm on OSX. I did update the firmware to 0.4.5

[2015-09-15 14:23] emilyrose commented on #130
Ack! this might be an issue with the firmware. Maybe we should add a prompt to manually reset the Photon if it doesn't start trying to connect within a few seconds.

[2015-09-15 14:51] kennethlimcp opened #131 "Serial does not work on El Capitan"
Using`Version 10.11 OSx El Capitan`

The output from serial is:

[code]

I wonder if this is a `node-serialport` issue

[2015-09-15 14:57] emilyrose commented on #131
Oh, joy!

[2015-09-15 15:00] kennethlimcp commented on #131
@emilyrose what does it say on yours?

I added `console.log(ports);` to
https://github.com/spark/particle-cli/blob/master/commands/SerialCommand.js#L82

[2015-09-15 19:16] pomplesiegel commented on #127
Occurred again just now on another photon. Fairly annoying, as now this one must be fished out of the pile and renamed.
![image](https://cloud.githubusercontent.com/assets/1450352/9887262/b141f59a-5bbc-11e5-8ca9-070ab497ab85.png)

[2015-09-15 19:18] brycekahle commented on #127
Do you have a device id we can check? (PM on Slack is fine). I wonder if something failed during claiming.

[2015-09-15 19:18] emilyrose commented on #127
sounds like we need another option to just say "Nevermind, it made it!"

It's interesting though, because the check that happens here is seeing if the device actually made a cloud connection.

[2015-09-15 19:21] pomplesiegel commented on #127
Interesting!
This may actually be due to a larger issue we've seen repeatedly before:
A device is very much online (breathing cyan and responds to `get`s) but `particle list`, an API call and the dashboard all show it is offline. It is for this reason that we no longer use the Particle cloud to indicate if a customer's product is actually online.

[2015-09-16 00:16] jenesaisdiq opened #132 "particle publish doesn't show up as being from `MY_DEVICES`"
Publishing from the CLI doesn't register on devices of mine that are subscribed to `MY_DEVICES`. It'd be very helpful to test commands and do control schemes without making the devices subscribed to public events, and all the abuse that exposes them to. My particular use case is sending calibration data to a microfleet of LED torches, and I've also written in functionality to add new WiFi networks

[2015-09-16 00:18] kennethlimcp commented on #132
@jenesaisdiq , Dave made this simple API and isn't something really built to support more (i think). What do you think if the publish statement from `particle publish` is listed as one of your device?

Let's ping @dmiddlecamp if the API endpoint allows that or a change to the :cloud:  is required

[2015-09-16 00:56] dmiddlecamp commented on #132
the CLI command is simplistic, but the API endpoint supports a param 'private'. If that's set to true, the event should register under private event subscriptions in your firmware.  :)

[2015-09-16 00:59] kennethlimcp commented on #132
I can fix that! :D

[2015-09-16 13:12] kennethlimcp commented on #131
Just to document all the information i can find:

Product ID is weird..should be `0xd006`
[code]

[2015-09-16 17:53] brycekahle commented on #131
`d006` is for DFU mode. `c006` is for serial.

[2015-09-18 16:58] ilanvolow opened #134 "Photon hasn't made it to the cloud yet."
I just received my photon yesterday and I tried to set it up using the iOS app, which did not work, and then I tried using the USB connection with OS X 10.10.5 and particle-cli. I got past the part where I "won the Internet" (yay) but then I got the message "It doesn't look like your Photon has made it to the cloud yet.". I entered my wifi info and pass several times to rule out a typo, if that he

[2015-09-18 18:39] emilyrose commented on #134
Hey @ilanvolow,

I'm sorry you're having trouble! Would you mind pasting some output from the CLI attempting to setup your Photon? Alternatively, you can place the Photon into setup mode, and call `particle identify` from the command line. This should output your device ID, which you can then associate with your account on https://build.particle.io/build if the Photon is indeed connecting to the c

[2015-09-18 22:16] ilanvolow commented on #134
Here's the output

? *Would you like to return this computer to the wireless network you just
configured?* Yes*nfigured?* (Y/n) y

! It doesn't look like your Photon has made it to the cloud yet.

? *What would you like to do?* Check again to see if the Photon has
connected

! It doesn't look like your Photon has made it to the cloud yet.

? *What would you like to do?* (Use arrow keys)

❯ Reconfi

[2015-09-18 22:44] emilyrose commented on #134
If the LED is still blinking blue, that means that it was unable to make a successful connection to the Wi-Fi network you configured. Perhaps try using `particle serial wifi` to see if that has a different result?

[2015-09-18 23:48] ilanvolow commented on #134
I tried it and the LED changed from blinking blue to blinking green and
then blinking cyan. I then go the message "! Something went wrong: Serial
timed out".

On Fri, Sep 18, 2015 at 6:44 PM, Emily Rose <notifications@github.com>
wrote:

[2015-09-18 23:50] kennethlimcp commented on #134
@ilanvolow,

- What does `particle --version` say?
- Have you tried performing a `particle update` in DFU mode?
- Does it blink cyan and have an occasional orange light?

[2015-09-19 00:45] ilanvolow commented on #134
- 1.8.3

- The firmware upgrade went okay, though I'm still at 1.8.3 (latest
version?)

- particle serial wifi said the changes were accepted.

- I am seeing the flashing cyan with occasional orange light. I saw that
before and after I ran the upgrade.

On Fri, Sep 18, 2015 at 7:50 PM, Kenneth Lim <notifications@github.com>
wrote:

[2015-09-19 00:48] kennethlimcp commented on #134
Ok cool.

- Is the Photon claimed already?
- Place the Photon in Listening mode and run `particle serial identify` to get the deviceID
- `particle keys new junk`
- `particle keys send deviceID junk.pub.pem` <---be sure to replace with actual deviceID
- reset the Photon and see if it enters breathing cyan

[2015-09-19 02:18] ilanvolow commented on #134
I don't know if it's claimed. I wouldn't think so.

Performing those procedures didn't seem to have any effect.

On Fri, Sep 18, 2015 at 8:48 PM, Kenneth Lim <notifications@github.com>
wrote:

[2015-09-19 22:18] jordanh commented on #45
Hiya, just ran into this myself this evening with my new Internet Button. Installed node 0.12.7 using nodenv and set it as my global environment. Then fresh npm install -g particle-cli and finally particle setup. My particle module was blinking blue and plugged into my local USB port. Error message was "[Error: Unable to obtain claim code]". I will try provisioning using the iOS app and report bac

[2015-09-19 22:25] jordanh commented on #45
I was able to claim the device successfully with the iOS app. @emilyrose let me know if you'd like me to debug it with you, here to help!

[2015-09-21 03:36] m-mcgowan opened #135 "CLI allows connecting to photon SoftAP during `setup wifi`"
[code]

Then a pause of 2-3 seconds before

[code]

I know this is a corner-case, just creating the issue so we have it in the backlog.

[2015-09-21 14:45] dmiddlecamp opened #136 "serial wifi setup failures w/Photon"
[code]

[2015-09-21 17:17] brycekahle commented on #136
What version of node is that? Thats the first time I've seen a stack trace inside of libuv.

[2015-09-21 17:18] dmiddlecamp commented on #136
I'm on v0.10.36

[2015-09-21 17:42] brycekahle commented on #135
Can you make sure you are running the latest version of the CLI? That stack trace doesn't seem to line up.

[2015-09-21 19:56] chobberoni opened #137 "particle keys doctor ---not working on multiple devices"
Issuing ```particle keys doctor```
throwing back multiple errors for me and alot of my customers/clients.

Even in a separate example than the one below (where the keys file doesn't already exist), it throws back almost identical errors as the second half as the example below.

ex:
[code]

[2015-09-21 19:58] brycekahle commented on #137
Looks like an OpenSSL issue. How did you install it?

[2015-09-21 20:49] chobberoni commented on #137
In some cases using the Particle App. In some cases using the CLI.
In this case above it was using the CLI.

[2015-09-22 00:30] brycekahle commented on #137
You installed **OpenSSL** using the App or CLI? That doesn't make sense.

[2015-09-22 01:43] chobberoni commented on #137
aww! i thought you were talking about how did i initially setup the device. complete mis-read. Open SSL was installed with homebrew.

[2015-09-22 04:02] m-mcgowan commented on #135
Updated the cli, now it doesn't crash. (I was on 1.8.2 before iirc, now 1.8.3)

[code]

[2015-09-22 19:05] tacoe commented on #92
`particle nyan` should probably print some feedback. I tried it, nothing happened, then failed to mentally connect the dots when I later found my Photon going crazy with rainbows :smile:

[2015-09-22 20:03] emilyrose commented on #92
@tacoe haha, good point!

[2015-09-23 18:06] monkbroc opened #138 "Warn user if using an old version"
Several issues reported on the forum happen because people use an old version of the CLI. The Heroku CLI checks if the current CLI is the latest version (once an hour at most). See [their implementation](https://github.com/heroku/heroku/blob/2ce77935853d01babc1852a5df2d5848a0b8e668/lib/heroku/updater.rb)

The Particle CLI could check if the current version matches the latest version on GitHub http

[2015-09-26 05:07] harrisonhjones opened #140 "Need functionality to pull device's mac address"
I would suggest something like `particle mac` to grab the mac address of a device connected via USB. Could also be returned when doing a `particle identify`

[2015-09-26 17:14] brycekahle commented on #140
Try `particle serial mac`

—
Bryce KahleSenior Software Engineer

https://particle.io/

On Fri, Sep 25, 2015 at 10:07 PM, Harrison Jones <notifications@github.com>
wrote:

[2015-09-28 17:18] rwaldron opened #142 "Contradictory error when flashing with "source_folder""
[code]

Specifically:

[code]

But...

[code]

Maybe I've misunderstood?

[2015-09-28 17:20] emilyrose commented on #142
@rwaldron, uh oh! that definitely looks like a bug from here... What version of the CLI are you using?

[2015-09-28 17:21] brycekahle commented on #142
It looks like you are expecting a cloud compile but a USB flash, is that correct @rwaldron?

[2015-09-29 19:30] smm-bwf opened #143 "Inconsistencies in CLI (and webhooks, Particle Dev, etc.)"
For background, please see this original post: https://community.particle.io/t/status-inconsistencies-between-cli-particle-dev-ide-webhooks/15043

In the screenshot below, you can see that devices are reporting as offline in "particle list" but functions from those same devices can be called, moments later, with accurate results coming back;  so the devices are definitely online, and report as suc

[2015-09-29 19:35] emilyrose commented on #143
@smm-bwf,

Hey! Thanks for the alert! This is a known issue in the API that is scheduled to be fixed soon!

[2015-10-01 12:16] m-mcgowan opened #144 "serial timeout during setup wifi"
With a core running 0.4.6 firmware in listening mode connected via USB

[code]

Same result if I choose "No" for auto-detecting the wireless security type.

When I connect to serial, the serial monitor shows  "Password: "

[2015-10-02 03:09] RocketPop commented on #119
This happened to me using the osx installer from nodejs.org ( currently https://nodejs.org/dist/v4.1.1/node-v4.1.1.pkg ). I uninstalled that whole mess and used brew to install node instead and then the particle-cli install succeeded.

[2015-10-02 05:32] brycekahle commented on #119
@RocketPop that is because node 4.0 is not supported yet. See https://github.com/spark/particle-cli#known-issues

[2015-10-02 09:21] dbrgn opened #145 "Login / logout broken"
With a fresh "npm -g install particle-cli" on Alpine Linux:

[code]

[code]

[code]

I'm using npm 2.7.4 and node 0.12.2.

The same thing happened on my Arch Linux box with npm 3.3.4 and node 4.1.1.

[2015-10-02 09:35] emilyrose commented on #145
@dbrgn this looks like a known issue with node-serialport's incompatibility with node 4.x, which is nearly resolved by the looks of it. In the mean time please see this thread on our community forums: http://community.particle.io/t/particle-cli-incompatible-with-node-4-x/15853

[2015-10-02 14:13] dbrgn commented on #145
Thanks!

[2015-10-02 14:13] #145 closed

[2015-10-02 14:20] RocketPop commented on #119
Thanks for the confirmation, Bryce. It might be nice if someone could put a note to this effect in all the readme/setup/getting started guides where they all say to go install node and save some other folks some confusion :)

[2015-10-05 18:04] smm-bwf commented on #143
OK - thanks.  Please let me know if it's updated.

On Tue, Sep 29, 2015 at 12:35 PM Emily Rose <notifications@github.com>
wrote:

--

--
Sean McDonald

President, Bitwater Farms

sean@bitwaterfarms.com | 828.545.9539

[2015-10-05 18:13] emilyrose commented on #143
@smm-bwf I will close this issue when I've confirmed that the API is no longer exhibiting this bug. Thanks again! :smile_cat:

[2015-10-06 15:37] harrisonhjones commented on #140
Thanks bryce. Anyone that wants please close this

[2015-10-06 15:37] #140 closed

[2015-10-06 20:37] dmiddlecamp commented on #123
bump on this one, hitting this today.

[2015-10-06 20:48] dmiddlecamp opened #150 "flash to non-existant device "succeeds" / displays no error message"
try running this command without that device registered:

[code]

This should error out with a permission denied, or unknown device.

[2015-10-06 20:49] dmiddlecamp opened #151 "flashing tinker should not ask for device-type, should go get device type, or use a cached list?"
can we skip the platform query step?  We should be able to determine this from device attributes

[2015-10-06 21:04] dmiddlecamp commented on #136
Hit this again today using latest CLI source

[code]

[2015-10-06 21:05] dmiddlecamp commented on #136
also just hit this:

[code]

[2015-10-06 21:14] dmiddlecamp opened #152 "claiming device "succeeds" if API isn't present"
particle config some_other_environment
where this env has a different apiUrl set that isn't available

[code]

[2015-10-06 21:21] dmiddlecamp opened #153 "ECONNREFUSED error during login encourages another login"
ECONNREFUSED would indicate the server isn't available, CLI would tell the user to check their config / make sure that server is online, etc, instead of keeping them in a login loop.

[2015-10-07 03:16] kennethlimcp commented on #123
again, not sure why though the binary is there

[code]

[2015-10-07 18:14] emilyrose commented on #123
@kennethlimcp is this on Windows?

[2015-10-07 18:54] dcohen613 commented on #131
Is there a fix planned for this? It makes it kind of unusable for setting up via serial.

[2015-10-07 19:04] brycekahle commented on #131
@dcohen613 Are you on the release version of El Capitan? My guess is this is a `node-serialport` issue, and if we get back blank information like posted above, it makes a fix very difficult.

[2015-10-07 19:07] brycekahle commented on #131
I found voodootikigod/node-serialport#552

[2015-10-08 01:42] kennethlimcp commented on #123
I am on Mac OSx 10.11 with CLI version `1.8.8`

[2015-10-08 16:17] dmiddlecamp opened #154 "particle setup crash"
[code]

-> and then I was dropped back to the shell with no errors, using latest version of source.

[2015-10-08 16:22] dmiddlecamp commented on #154
I think I maybe typed "y." instead of just y, which might have crashed it.

[2015-10-08 19:49] dmiddlecamp opened #155 "add support for --product_id=xx to `particle keys send`"
To help with provisioning of products

[2015-10-09 01:40] pomplesiegel opened #156 "False error: "Function call failed Function <functionName> not found""
Just had an experience wherein a Photon which was successfully online, running system FW 0.4.5 and responding to `particle get` calls. However, CLI did not allow me to make a function call to this Photon, stating

[code]

After restarting the Photon, the function call worked fine, running successfully and returning a `1`.

However, this was in a customer's home, so asking them to restart the tower

[2015-10-09 19:02] m-mcgowan commented on #156
When you say the photon was online, can you detail how you knew that?

[2015-10-12 11:35] kennethlimcp opened #157 "Printout system firmware version before particle update"
It would be good for `particle update` to mention the current version of system firmware that is flashed to the device in case people are wondering.

We can also keep the older binaries should people want to perform rollback like how they can in the Web IDE

[2015-10-12 11:43] kennethlimcp opened #158 "Flash command not longer echo status"
Once the function runs, it simply exits whether success/failure:

[code]

[2015-10-12 17:11] pomplesiegel commented on #156
Sure! I know it was online, happily running our user app, as it repeatedly responded to our app-specific `get` calls OTA using CLI (version 1.8.8).

[2015-10-12 22:25] emilyrose commented on #131
Would someone mind testing this with v1.8.9 of the CLI? Thanks! :smile_cat:

[2015-10-12 23:49] kennethlimcp commented on #131
Tested NOT working on my side

[2015-10-13 00:23] kennethlimcp commented on #131
Managed to get it working with a local compile using info from: https://github.com/voodootikigod/node-serialport/pull/607#issuecomment-147554578

[2015-10-15 14:41] jmagnuson commented on #119
Should this be working now?  I see 356dbe4 has removed the mentioned comment, but I'm still getting the same error message (attempted both with v4.2.1 as well as v3.3.1/io.js).

[2015-10-15 17:30] emilyrose commented on #119
@jmagnuson the newest version of the CLI supports Node 4.x

[2015-10-15 17:30] #119 closed

[2015-10-16 00:04] kennethlimcp commented on #131
@emilyrose it's working now after reinstalling v.1.8.11 which pulls in `node-serialport` for `v.2.0.1`

[2015-10-16 00:04] #131 closed

[2015-10-16 00:05] emilyrose commented on #131
@kennethlimcp this is what I was hoping would happen, since we're not pinning serialport to a specific version. Thank for confirming & closing!

[2015-10-16 00:06] kennethlimcp commented on #131
@emilyrose might want to bump 2.0.1 as minimal though..

[2015-10-17 20:31] cguillemette commented on #123
I'm also having this issue.

[2015-10-18 23:41] samf commented on #123
I'm on Mac OS 10.10.5 and am having this issue.

[2015-10-20 02:56] brightredchilli commented on #119
@emilyrose - I'm still running into this issue. I've done as much poking as I can with all the dependencies as I could, but I'm stuck.
I get install warnings when installing particle-cli, and they appear to be in serialport:

[code]

and when I check npm afterwards, it reports that the dependencies serialport, node-pre-gyp, readable-stream, and string-decoder failed to install have errors.

The pa

[2015-10-20 03:08] emilyrose commented on #119
@brightredchilli I'm sorry to hear you're still having trouble!

I can confirm that I've got the CLI working with node 4.2.0 and OS X 10.11 El Capitan.
Here is how things go for me: https://gist.github.com/emilyrose/d8ac3b4b24d437202133

One possible solution is to just downgrade to node 0.12 until whatever lingering OS X issues remain are flushed out.

[2015-10-22 02:45] brightredchilli commented on #119
I actually have tried many versions of node from 0.11 to 4.2.1, and I get the same error every time. This leads me to believe that I have an issue compiling node-pre-gyp from source(since there is no binary for my system). I'll be looking there and will post back here if I find anything.

[2015-10-22 02:51] emilyrose commented on #119
@brightredchilli would you be willing to try with version `1.8.13` of the CLI? :smile_cat:

[2015-10-22 12:56] brightredchilli commented on #119
Oh wow that is a fresh release! Sure! I just tried - I still notice the build errors - but I don't have a photon with me to check the setup right now. I'll let you know tonight.

[2015-10-22 19:17] jenesaisdiq commented on #92
bump

[2015-10-22 19:21] emilyrose commented on #92
:+1:

[2015-10-22 22:38] dmiddlecamp opened #159 "Parse binaries before DFU flash, and warn if they don't make sense to flash to that address"
I used ```particle flash --usb something.bin``` to try and update a system-part, and I wound up in a difficult to diagnose safe mode that can't be healed automatically.  In this scenario the CLI let me replace the user app with something that can't run at that address, etc.

If we use the binary-version-reader, we can at least tell if the function of the app is a user app, or a system part or what

[2015-10-22 22:40] brycekahle commented on #159
See #32

[2015-10-22 22:47] dmiddlecamp commented on #159
Totes, would integrate nicely with that feature / we could suggest they use that flag.  I'd love a warning that I'm about to do something silly though :)

[2015-10-22 22:51] brycekahle commented on #159
I was talking about what Mat suggested in his comment, where it automagically figures out the address it should flash to https://github.com/spark/particle-cli/issues/32#issuecomment-134039067

[2015-10-22 23:43] olivier-work opened #160 "Issues connecting to wi-fi"
Trying to connect photon to wifi, however the wizard seems to be getting stuck on this step:

![stuck](http://puu.sh/kU3SC/6bfd9faedc.png )

[2015-10-23 15:27] olivier-work commented on #160
Fixed by setting Particle on listening mode before starting `particle serial wifi` wizard.

[2015-10-23 15:27] #160 closed

[2015-10-23 19:08] dmiddlecamp opened #161 "Potentially warn a user before creating a new webhook that is significantly similar to an existing hook"
It's really easy to create hooks, and users might create multiple overlapping hooks that give them unexpected results or hinder debugging.  Maybe we should pull a list of hooks and try to tell if it's really close to an existing one, and just warn them?

relevant thread: https://community.particle.io/t/webhook-post-with-deviceid-parameter/16748/10

[2015-10-27 14:38] dmiddlecamp opened #162 "keys doctor changing product_id of device?"
"After Keys Doctor, P1 is shown as a Core on Dev and Other on WebIDE"

https://community.particle.io/t/after-keys-doctor-p1-is-shown-as-a-core-on-dev-and-other-on-webide/16847

[2015-10-27 18:09] fossum opened #163 "particle flash does not return failure code"
When running a build integration tool, the exit code are important, because they determine if the build succeeded. `particle flash` doesn't seem to use the correct codes though. This is the output from my build server:

[code]

And here are a couple commands from my development computer.

[code]

Above seems to be from "commands/CloudCommands.js", but below seems to be in a lot of different places

[2015-10-27 18:23] sasilverain commented on #144
I got the same issue.  I tried resetting the core to factory defaults (details here -https://community.particle.io/t/spark-core-troubleshooting-guide-spark-team/696) and tried connecting through Terminal again and all worked.

Hope this helps...

[2015-10-27 18:54] fossum commented on #163
I've written a fix to a branch and filed a pull request #164. As stated there, the fix is only for that function. A global fix should be considered before accepting the changes.

[2015-10-27 23:25] mrkd opened #165 "Error loading command"
I have tried uninstalling and reinstalling the cli tool but keep getting these errors below.

Please let me know if you need more details.

OS: El Capitan Version 10.11.1

Error Output:
[code]

Node and Particle Version:
[code]

[2015-10-27 23:40] brycekahle commented on #165
That is an old version of `particle-cli`. You should try upgrading it with `npm install -g particle-cli`.

[2015-10-28 03:42] mrkd commented on #165
I thought I had updated it - but ran install again and now running v1.8.14. No issues.

Thanks!

[2015-10-28 03:42] #165 closed

[2015-11-02 17:25] jme783 opened #166 "Do not allow customers to claim a device as a user"
Currently, you are allowed to go through the user-claiming process regardless of if you are logged into the CLI as a `user` or a `customer`. This results in devices being claimed by `customers`, and saving erroneous attributes to the `core` document.

For instance, logging into the CLI as a customer `jeff@particle.io`, and running `particle setup`, will walk me through the claiming process and sav

[2015-11-03 17:48] dougmartin17 commented on #140
`particle serial mac` doesn't work for me. I get an error:
! serial: Error: Unable to find mac address in response

[2015-11-03 17:50] brycekahle commented on #140
@dougmartin17 What device and firmware version are you running?

[2015-11-03 17:57] dougmartin17 commented on #140
Sorry, I think it's just due to me not being in listening mode.

[2015-11-07 22:09] fossum commented on #123
On Fedora 22 x64 having this issue... on initial inspection, it looks like a cloud issue. It was flashing just fine and then just started failing here.

[2015-11-08 20:32] toSvenson commented on #157
A quick lookup using `particle device version` would be useful too.

[2015-11-12 23:57] pkourany opened #168 "Recent release of CLI throws errors when updating on Windows"
The most recently released CLI fails to update or install on Windows systems that were updating just fine before this release.  The problem seems to be with systems that don't have Visual Studio 2013 Express installed.  Previous CLI versions worked with VS2010.  Replacing VS2010 with VS2013 fixed the problem, at least form me on Win 7x64.

[2015-11-12 23:58] brycekahle commented on #168
Do you know which module was failing to install? Please also specify your versions of `node` and `npm`.

[2015-11-13 00:04] pkourany commented on #168
Sorry for the lack of details.  I have nodejs 0.12.0, npm 2.5.1 and python 2.7.10.  I did not keep a copy of the error but it was a long red message.  Perhaps @Moors7 can add those details from the VM he created.

[2015-11-20 03:44] #163 closed

[2015-11-20 04:09] #132 closed

[2015-11-20 08:42] kennethlimcp commented on #132
@jenesaisdiq just so you know it's coming (finally) :)

[2015-11-20 19:09] monkbroc opened #171 "DFU flash fails silently on Linux"
Using master (commit 0aec49a1), I can't flash with DFU on Linux. It fails silently so I assume a promise is falling through the cracks. The released 1.8.16 works fine.

[code]

[2015-11-20 19:10] brycekahle commented on #171
Thanks for the report. I will take a look.

[2015-11-20 19:11] monkbroc commented on #171
I was looking at updating #82 but I'll wait a bit since the baseline isn't working.

[2015-11-20 19:21] brycekahle commented on #171
I do find it odd that you didn't even get the `console` output.

[2015-11-20 19:23] brycekahle commented on #171
Give https://github.com/spark/particle-cli/commit/f1b38f9b2c36dffe2861ce27f822a0bd5f0ce133 a shot

[2015-11-20 19:25] monkbroc commented on #171
Thanks @brycekahle. That fixes it!

[2015-11-20 19:25] #171 closed

[2015-11-20 19:26] brycekahle commented on #171
No problem. This just exposed something that I will need to check other commands for.

[2015-11-20 19:38] #158 closed

[2015-11-20 19:40] #150 closed

[2015-11-20 20:29] #74 closed

[2015-11-23 22:03] cmsunu28 commented on #168
Hey @Moors7 do you have any more info about this one? @brycekahle any more details we might need to investigate?

[2015-11-23 22:08] brycekahle commented on #168
Definitely need more details. The ones I specified earlier should be a good start.

[2015-11-24 15:31] dmiddlecamp opened #173 "Duo no longer appears in device serial list"

[2015-11-24 17:53] brycekahle commented on #173
More details please? Output from `node-serialport` would be helpful too. Stick a `console.log(ports);` at https://github.com/spark/particle-cli/blob/master/commands/SerialCommand.js#L80

[2015-11-24 18:12] dmiddlecamp commented on #173
HI @brycekahle,

  Sorry, this was more a reminder for myself than a bug report for you, no need to jump on this asap.  :)

Thanks,
David

[2015-11-25 14:01] kennethlimcp opened #174 "DFU device checking not foolproof"
From the forums:

Somehow CLI tries to flash to a non-Particle device

[code]

[2015-11-25 14:33] dmiddlecamp commented on #174
Thanks for opening this one, I've definitely seen reports of this as well.  I wasn't sure if this was a bug in dfu-util, or the CLI, didn't we usually pipe out the DFU command before we run it?

[2015-11-25 14:35] kennethlimcp commented on #174
We concentanate our own DFU command but the matching is not saying "no devices" found and went ahead to execute the DFU command

[2015-11-25 19:22] brycekahle commented on #157
@toSvenson that is covered by #95

[2015-11-25 19:24] brycekahle commented on #128
@dmiddlecamp Can you post your full command?

[2015-11-25 19:28] brycekahle commented on #143
This issue has been fixed in the API.

[2015-11-25 19:28] #143 closed

[2015-11-25 19:59] brycekahle commented on #156
@pomplesiegel The cloud is the one restricting calls to functions registered with the cloud. A lot of cloud functionality depends on that information being accurate, plus it also prevents unnecessary data transfer.

It sounds like somehow the cloud did not have up to date information, which is a different issue.

[2015-12-02 02:08] brycekahle commented on #174
I cannot reproduce this, checking with the forum user for CLI version information.

[2015-12-02 23:07] robertdolca opened #176 "Error loading command Error: Cannot find module serialport.node"
`particle setup`

[code]

[code]

[2015-12-02 23:08] brycekahle commented on #176
Please install the latest version of `particle-cli` by using `npm install -g particle-cli`

[2015-12-02 23:09] robertdolca commented on #176
I have tha last version. Done that.

[2015-12-02 23:09] robertdolca commented on #176
Aparently there is a new one (fresh update I supose)

[2015-12-02 23:11] brycekahle commented on #176
I noticed it was trying to use serialport v1.7.4. We updated to 2.0 on October 12th.

[2015-12-02 23:14] #176 closed

[2015-12-04 02:13] towynlin commented on #32
:+1:

[2015-12-08 04:27] timelf123 commented on #168
I reproduced with the following

Node 5.1.1
NPM 3.3.12
Windows 10

I also needed to add git to the PATH or I had errors. Even after git was on the path I got:
[code]

Npm install errors:
[code]

Solution:
Install [Visual Studio 2015 Community Edition](https://www.visualstudio.com/en-us/post-download-vs?sku=community)

[2015-12-08 12:22] kennethlimcp opened #177 "Handle compile error with useful message"
When i happen to have a directory in the main folder.

[code]

[2015-12-09 20:39] kitusmark commented on #134
Hi!
I have just the same problem with my photon. Tried everything I know...
Through the iOS app I fail at claiming my particle device.

``
Marcs-Macbook-Pro:~ Marc$ particle --version
1.8.16
``

I hold the setup button for more than 10 seconds to reset the wifi config ann then try to setup wifi via CLI.
Then I get **! Something went wrong: Serial port closed early** and the photon starts flashing

[2015-12-09 20:48] brycekahle commented on #134
@kitusmark You should contact our support at hello@particle.io

[2015-12-10 03:54] ilanvolow commented on #134
I ended up having the photon replaced through support.

Sent from my iPhone

[2015-12-10 08:51] kitusmark commented on #134
Thanks, I'll do that.

[2015-12-14 21:26] camilstaps opened #179 "Return value for function calls"
Please set the bash return value after a function call to the return value of the function.

E.g., I have a function `setLed` on my device `futo`, and it only works with input `0` or `1`. Calling it with anything else results in a `-1` return value. However, the return value of the process is still `0`.

[code]

If this would break things, could it be made a command line option? It would make shel

[2015-12-14 21:28] brycekahle commented on #179
To be clear, are you returning `-1` from your function? If so, returning a non-zero exit code when the function call succeeds would be misleading. We could certainly put this behind a command line option as an alternative.

[2015-12-14 22:40] camilstaps commented on #179
@brycekahle thanks for your swift reply. Yes, I return `-1` from my function. That's what I'm using for some error (as suggested [here](https://docs.particle.io/reference/firmware/photon/#particle-function-)).

I understand some people use this to return a meaningful value (for example, you could write a temperature function that returns the temperature), and this may break it. So yeah, a command

[2015-12-15 05:22] kennethlimcp opened #180 "`particle token revoke` check for argument"
Currently the function doesn't check if an access token argument is passed and proceeds to prompt for account password. Fairly trivial fix but filing in case someone gets to it before me.

[2015-12-15 23:16] pomplesiegel opened #181 "Line ending `\n` displayed, rather than used in terminal output"
Issue began following update to `1.8.19` on Mac OS X 10.11.1.
Sample of output when compiling against photon. There are now no line endings, as interpreted by Terminal. All one big line.

[code]

[2015-12-15 23:17] brycekahle commented on #181
Do you know what version you were on before you upgraded?

[2015-12-15 23:42] pomplesiegel commented on #181
Sure. 1.8.16

[2015-12-16 00:04] jtzemp opened #182 "`particle call` should have a non-zero exit status when the call fails"
In testing the Electron with Tinker on it, I did:

    $ particle call $DEVICE_NAME digitalwrite "D7,HIGH"

And I got back:

    Function call failed  Something went wrong calling this function: GET coap://127.0.0.1/t (T=CON ID=14 TK=02)

And `echo $?` returned '0'.

Just for context, I was talking over UDP, and everything was working fine until a service deploy. I know that has nothing to do with

[2015-12-16 00:05] brycekahle commented on #182
Is this with the latest version? There has been a lot of work around this lately.

[2015-12-16 00:05] jtzemp commented on #182
Yeah, the latest released version.

[2015-12-16 00:14] #182 closed

[2015-12-16 04:21] kennethlimcp opened #183 "Select version for Compile"
Right now we are able to target a particular device for compile but should also be able to target a specific version.

My idea is to have a `.json` file for the CLI to parse:

[code]

[2015-12-16 04:26] KeighDub commented on #183
Agree 100%. Would love a way to lock the version we're building against.

[2015-12-16 04:29] brycekahle commented on #183
I think a general solution would be the ability to specify a JSON file to set command line arguments for any command.

[2015-12-16 04:31] kennethlimcp commented on #183
Depends on how much dev time you guys have to make that happen? If i know what the `form.append()` is for targeting version i can put together a PR for now so that people can actually use it instead of waiting for the general solution

[2015-12-16 04:34] brycekahle commented on #183
I'm not sure there is a direct way to translate a version `0.4.7` into a build target at the moment. @suda would know for sure.

[2015-12-16 16:25] pomplesiegel commented on #181
Just uninstalled and reinstalled CLI 1.8.19 to see if the issue persists, and it does.

[2015-12-16 17:47] kennethlimcp commented on #181
Here's the related change that caused that: https://github.com/spark/particle-cli/commit/5e5390050b00b358a1ce4671f5dbce0f23f6d384#diff-8444573bf9243299544d0900e0820390L435

[2015-12-16 18:08] #181 closed

[2015-12-16 18:09] brycekahle commented on #181
Fixed in 1.8.20

[2015-12-16 18:29] pomplesiegel commented on #181
confirmed fixed. thanks!

[2015-12-17 11:58] suda commented on #183
There is build targets endpoint used by Build to show/specify versions. It could be used by CLI too.

[2015-12-17 16:18] kennethlimcp commented on #183
@suda can you provide the necessary endpoint info?

[2015-12-19 16:47] dmiddlecamp opened #184 "In some circumstances, the CLI does not download the complete binary after a compile"
node 0.12.7, still searching for other details / causes

[2015-12-19 17:00] dmiddlecamp commented on #184
updating to latest node / reinstalling the CLI fixed the issue, super weird!

[2015-12-19 17:00] #184 closed

[2015-12-20 07:33] ScruffR opened #185 "`particle udp send` throws error but should provide help"
The UDP command for CLI is not that helpful if you don't already know how to use it.

`particle help udp` does give you this rahter "unhelpful" and mildly confusing info
[code]
How does it help repair the device and run patches?

But most importantly: **HOW** does the `send` command need to be formatted?
If you don't do it right, you get this
[code]

[2015-12-20 08:01] kennethlimcp commented on #185
The UDP command was rarely mentioned/used and probably coded in by Dave for some testing during the initial use of CLI with the core. We can remove this command for now if it's causing confusion.

[2015-12-20 09:47] ScruffR commented on #185
Nope, I'd rather keep it, but have it documented.
I'd even like to have it extended with a `particle udp monitor` feature ;-)

It would be a nice and easy way to test UDP client functionality.

[2015-12-21 15:57] dmiddlecamp opened #186 "webhook creation broken by recent changes"
changes between these commits - https://github.com/spark/particle-cli/compare/880374648dd52a8143e80b136aa9fef67d8e8f24...master#diff-dc0cbb44982f142201c58ae6b1c138e5R165

Looks like these changes break the dynamic injection of extra params, breaking many webhooks features.  Looks like these didn't get tested.

edit: accidentally some words, updated phrasing to be more clear

[2015-12-21 16:20] dmiddlecamp commented on #186
should be fixed by https://github.com/spark/particle-cli/commit/542f81ff45d41b12acb44b162954a597b2b469fe

[2015-12-21 16:33] dmiddlecamp commented on #186
fixed!  pending CLI release, but fix available in master.

[2015-12-21 16:33] #186 closed

[2015-12-21 16:46] dmiddlecamp opened #187 "auto multi-get variable is broken"

[2015-12-24 13:05] monkbroc opened #190 "Electron detected as Core during setup on Ubuntu"
The device specs don't match the Electron during setup on Ubuntu when it is blinking green or blinking blue (listening mode). It detects the Electron as a Core because [the manufacturer matches](https://github.com/spark/particle-cli/blob/bb3bf2204812e0d1948e618d78e5df49310d83e0/commands/SerialCommand.js#L111) but the device specs don't. I'll put more details here later.

[2015-12-25 01:09] ktodyruik commented on #119
I just had the same issue on OS Yosemite. I tried both node 4.2.4 and 5.3.0.

[2015-12-25 01:10] kennethlimcp commented on #119
@ktodyruik what's the error log saying?

[2015-12-25 01:45] ktodyruik commented on #119
The pkg installations of node from the node website (4.2.4 and 5.3.0) don't seem to be working with particle-cli. I took @RocketPop 's suggestion, installing node with brew and particle-cli installed.

[code]

Brew installed this version 0.10.32 which works with particle-cli.

[code]

[2015-12-26 23:17] jaredmoulton commented on #119
sudo npm install -g particle-cli
Password:
/

gyp WARN EACCES user "root" does not have permission to access the dev dir "/Users/jaredmoulton/.node-gyp/0.10.41"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/usr/local/lib/node_modules/particle-cli/node_modules/serialport/.node-gyp"
xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory '/Library/De

[2015-12-27 14:07] kennethlimcp commented on #119
The error is stated here:

[code]

and as mentioned in the docs: https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2015-12-28 06:04] harrisonhjones opened #191 "Bad URLS in responses"
From Customer:

[code]

They have a point...

[2016-01-12 21:56] dmiddlecamp opened #193 "particle publish doesn't detect invalid token"

[2016-01-12 21:59] brycekahle commented on #193
Hmm, it definitely has code to do so at https://github.com/spark/particle-cli/blob/master/lib/ApiClient.js#L646

[2016-01-12 22:02] dmiddlecamp commented on #193
weird, maybe it's an API issue then, not returning an error code or something.  For whatever reason I wasn't seeing it when my token was bad

[2016-01-12 22:03] brycekahle commented on #193
I'll do some more testing to verify behavior.

[2016-01-12 22:04] brycekahle commented on #191
Does https://docs.particle.io/guide/tools-and-features/cli/#advanced-install look like a better url?

[2016-01-12 22:05] brycekahle commented on #187
Do you have an example of the command you were running?

[2016-01-12 22:17] dmiddlecamp commented on #187
particle get temp

where temp is a variable on multiple devices

[2016-01-13 19:25] brycekahle commented on #183
@suda ping

[2016-01-13 20:27] #138 closed

[2016-01-13 20:33] brycekahle commented on #193
Tested and it works.

[2016-01-13 20:33] #193 closed

[2016-01-13 20:43] brycekahle commented on #162
I've checked and `keys doctor` on its own could not do this. I suspect there is a bug somewhere else.

[2016-01-13 20:43] #162 closed

[2016-01-13 20:57] brycekahle commented on #157
@kennethlimcp `particle update` requires the device in DFU mode, whereas retrieving the system firmware version via the `v` command requires listening mode.

[2016-01-13 21:09] brycekahle commented on #154
Reproduced. Does not require `y.`.
[code]

[2016-01-13 21:47] brycekahle commented on #156
Closing as not a CLI issue.

[2016-01-13 21:47] #156 closed

[2016-01-13 22:44] brycekahle commented on #137
This was an error parsing the device saved off the device. `keys doctor` now proceeds even if this fails because that key could be corrupted.

[2016-01-13 22:44] #137 closed

[2016-01-13 22:53] brycekahle commented on #129
This is fixed

[2016-01-13 22:53] #129 closed

[2016-01-13 22:54] dmiddlecamp commented on #193
thanks for checking!

[2016-01-13 22:56] brycekahle commented on #123
Fixed with #163

[2016-01-13 22:56] #123 closed

[2016-01-13 23:06] #20 closed

[2016-01-13 23:06] #95 closed

[2016-01-13 23:06] #135 closed

[2016-01-13 23:06] #152 closed

[2016-01-13 23:06] #154 closed

[2016-01-13 23:06] #180 closed

[2016-01-13 23:06] #191 closed

[2016-01-13 23:49] brycekahle commented on #187
Is that a valid syntax? I thought it was `particle get all temp`?

[2016-01-14 00:00] #185 closed

[2016-01-14 00:02] dmiddlecamp commented on #187
I think it was valid syntax at one point (?), but I doubt it's heavily used / I could be wrong. Nice to have something that supports this behavior, I'm open to the syntax you posted totally.  :)

Sent from my iPhone

[2016-01-14 00:10] #187 closed

[2016-01-14 00:43] #177 closed

[2016-01-14 00:44] brycekahle commented on #118
@ScruffR do you still have this problem? https://github.com/spark/particle-cli/commit/78e613a70beb0c3c9372ca64109299500d1d5a72 introduced locale support for the wifi scanning.

[2016-01-14 00:45] brycekahle commented on #190
@monkbroc more details would be great! I would like to fix this before Electron launch.

[2016-01-14 00:46] brycekahle commented on #166
This will be addressed at the API level instead of handling it in the CLI.

[2016-01-14 00:46] #166 closed

[2016-01-14 00:59] dmiddlecamp commented on #166
Weren't we going to detect and warn or something?

Sent from my iPhone

[2016-01-14 01:01] brycekahle commented on #166
I think it is best to handle this at the API level, either by fixing the bug or returning a proper error which can be propagated to the CLI. Having the CLI know whether an access token belongs to a user/customer is a lot of extra work.

[2016-01-14 01:10] #151 closed

[2016-01-14 01:14] #126 closed

[2016-01-14 01:37] #115 closed

[2016-01-14 01:37] #142 closed

[2016-01-14 01:53] brycekahle commented on #104
It looks like the API isn't providing a good error message here. Moving the issue there.

[2016-01-14 01:53] #104 closed

[2016-01-14 01:54] brycekahle commented on #90
Duplicate of #155

[2016-01-14 01:54] #90 closed

[2016-01-14 02:09] #70 closed

[2016-01-14 02:09] #121 closed

[2016-01-14 03:11] #76 closed

[2016-01-14 03:29] #96 closed

[2016-01-14 06:30] brycekahle commented on #105
Documented in the README. Opened https://github.com/spark/docs/issues/265 for docs.

[2016-01-14 06:30] #105 closed

[2016-01-14 06:35] brycekahle commented on #128
https://github.com/spark/particle-cli/commit/984e75044a3732e6d5620f6624b9e47b02151b62 improved the error message

[2016-01-14 06:35] #128 closed

[2016-01-14 07:27] #29 closed

[2016-01-14 07:27] #155 closed

[2016-01-14 07:27] #159 closed

[2016-01-14 13:12] ScruffR commented on #118
@brycekahle, uhh sorry, I thought I had replied on to your post back in September already (when it didn't work), but unfortunately it still doesn't work

I'm using
CLI v1.9.0
node v4.2.4
npm 2.14.12

I've tested on
Lenovo Thinkpad Yoga S15, Win 10 Pro 64bit German and
Lenovo Thinkpad Tablet 10, Win 8.1 Pro 64 bit German

[2016-01-14 13:28] ScruffR opened #194 "Old link to SPARK_CLI referenced on OPEN SOURCE page linked in Discourse"
I had pointed this out quite a while ago, but can't find the issue anymore, but the <kbd>OPEN SOURCE</kbd> link top right on https://community.particle.io links to a [GitHub page](http://spark.github.io/) which still has several links to ***old*** repos linked.

So e.g. when I want to open a PARTICLE_CLI issue I can only find the SPARK_CLI box with the <kbd>Issues</kbd> issues button which leads m

[2016-01-14 13:31] ScruffR commented on #118
In addition to the original issue I even have another problem, probably rooting in the same underlying cause.
When I try `particle setup` or `particle serial wifi` and let CLI scan for available networks, I always get
[code]
On both machines again.

[2016-01-14 14:24] monkbroc commented on #190
Actually now that I try with the Photon, it isn't detected correctly either :(

The VID and PID don't match.

Here's the output of `require('serialport').list()` for the Photon in listening mode on Linux:
[code]
or if I do particle setup quickly after connecting the USB:
[code]
The expected serial VID and PID are '2b04' and 'c006'.

Here's the output for an Electron
[code]
or if I do particle setu

[2016-01-14 17:59] suda commented on #183
Oh sorry for not responding. The API endpoint isn't documented publicly yet but you can find it here: https://api.particle.io/v1/build_targets?featured=true&access_token=<TOKEN>

[2016-01-14 19:30] brycekahle commented on #190
`8086` = Intel Corp
`1e31` = Intel USB 3.0 eXtensible Host Controller

[2016-01-14 20:19] brycekahle commented on #194
Thanks for the heads up. I've gone ahead and updated that site. In the future, you can open issues on that site at https://github.com/spark/spark.github.io/issues

[2016-01-14 20:19] #194 closed

[2016-01-14 20:52] brycekahle commented on #118
Definitely same underlying issue. Would you mind cloning https://github.com/spark/node-wifiscanner, adding `console.log(stdout);` above https://github.com/spark/node-wifiscanner/blob/master/lib/netsh.js#L68 and then running this simple program from the root repo directory? Please paste the results here or email/PM them to me. Thanks!

[code]

[2016-01-14 21:16] brycekahle commented on #168
@timelf123 Can you try version 1.9.0 of the CLI? `node-serialport` added some node 5.x builds in 2.0.6 so that should remove the need for Visual Studio.

[2016-01-15 11:22] ScruffR commented on #118
This is what I get
[code]

[2016-01-15 18:03] brycekahle commented on #118
Ah, I forgot a step. Run `npm install` from the repo dir and then run the program again. Thanks!

[2016-01-15 20:22] ScruffR commented on #118
Doh', I could have thought of that

[code]
This `Verschl?sselung` would actually be `Verschlüsselung`

[2016-01-15 20:23] brycekahle commented on #118
@ScruffR thanks. That helps a lot!

[2016-01-15 20:29] brycekahle commented on #118
Lets add some more debug output. Can you add `console.log(info);` above https://github.com/spark/node-wifiscanner/blob/master/lib/netsh.js#L56 and report the output? Thanks.

[2016-01-15 20:37] ScruffR commented on #118
Of course, an this time I had my tab even connected to the Photon AP ;-)

[code]

[2016-01-15 20:50] brycekahle commented on #118
Hmm. So bizarre. I can take your output and run it through the test and it works great. What version of node are you running?

[2016-01-15 21:04] ScruffR commented on #118
node 4.2.4

[2016-01-15 21:06] brycekahle commented on #118
Hmm. How comfortable are you with node? Do you think you could debug this issue with some `console.log` debugging? The issue should be within https://github.com/mauricesvay/node-wifiscanner/blob/master/lib/netsh.js

[2016-01-15 22:20] ScruffR commented on #118
I'll have a stab.

[2016-01-16 02:11] emartinez167 opened #196 "Spark Core: Error writing firmware...CRC is invalid, use --force to override"
I re-installed particle-cli on a Mac (trying to get my old Spark Cores to work) and now I get this error when trying to update the firmware:

running dfu-util -l
Found DFU device 1d50:607f

Error writing firmware...CRC is invalid, use --force to override

[2016-01-16 12:42] ScruffR commented on #118
@brycekahle, one thing I already found out is that the localized terms don't get pushed to `parseNetsh()`
[code]
 And hence the channel fields are not filled.

[2016-01-16 22:28] ScruffR commented on #118
@brycekahle, as it seems the problem lies in 'os-locale'.

This is the "call stack"
[code]

[2016-01-17 01:09] brycekahle commented on #118
@ScruffR does it work if you change `spawn` to `true` here? https://github.com/spark/node-wifiscanner/blob/master/lib/wifiscanner.js#L44

[2016-01-17 01:34] ScruffR commented on #118
OK, with `true` I at least get the correct `locale`
[code]
But the terms are not selected for mine, since I'm in Austria (AT) and not Germany (DE).

[2016-01-17 01:47] #118 closed

[2016-01-17 02:34] brycekahle commented on #196
Add `--force` to your command to bypass this error. I will fix the CLI to not warn about known apps in the future.

[2016-01-17 02:35] #196 closed

[2016-01-17 02:36] emartinez167 commented on #196
I did, just wanted to make sure it would be ok. Thanks. This can be closed.

Regards,

Ernesto

[2016-01-18 08:51] kennethlimcp opened #198 "binary inspect CRC failed"
I'm wondering what's the issue over here...

[code]

[2016-01-18 09:18] kennethlimcp opened #199 "[Photon] protocol change not detected"
I was unable to switch to UDP for a photon:

[code]

[2016-01-19 19:05] brycekahle commented on #199
Right now only the Electron will use the value of the protocol setting to display the corresponding address. This is because only the Electron firmware supports UDP at the moment.

[2016-01-19 19:06] brycekahle commented on #198
Interesting. I'll raise this with the compile service team.

[2016-01-19 19:08] dmiddlecamp commented on #198
This looks more like the partial download bug we've seen in the CLI with node version 0.12 for some reason.  @kennethlimcp can you grab the binary using the raw URL and something like curl, and run an inspect on that?

[2016-01-19 23:15] kennethlimcp commented on #198
Compiled again without any code changes and CRC is ok... I wonder where's the "randomness" from:

[code]

@dmiddlecamp i also grabbed the file using curl and did `particle binary inspect firmware.bin` and the CRC is verified as well

[2016-01-19 23:19] kennethlimcp commented on #199
Seems like the docs mentioned Photon in anticipation for the support then.

[2016-01-19 23:20] brycekahle commented on #198
@kennethlimcp Weird. We will keep an eye out for this one. Thanks for testing and reporting back.

[2016-01-19 23:22] brycekahle commented on #199
Correct. Even with 0.4.8, I think you need a special build flag to enable UDP for the Photon. I'll update the readme to be more accurate.

[2016-01-20 23:25] #190 closed

[2016-01-20 23:26] #183 closed

[2016-01-22 05:28] brycekahle commented on #190
I have a suspicion this may be a `node-serialport` issue, but I'm glad we can fix it for now. I found this issue that is somewhat related: https://github.com/voodootikigod/node-serialport/issues/621

[2016-01-22 06:51] kennethlimcp commented on #84
I'm suggesting something like:

[code]

From: http://stackoverflow.com/questions/7500811/how-do-i-disable-console-log-when-i-am-not-debugging

does this sound feasible?

[2016-01-22 06:55] brycekahle commented on #84
Ideally we would have multiple log levels, so verbosity is not an on/off situation. We may also want the ability to pipe all the output to a file in case of an error, regardless of what the console verbosity level was. This is something `winston` or other logging modules can provide.

I've been holding on this because there isn't a good way to have a global verbosity argument at the moment. Tackli

[2016-01-22 12:08] monkbroc commented on #190
I saw that issue too.

It's deeper than node serialport. I tried many versions back to 1.3 and all
versions exhibited the problem.

lsusb shows the correct ids, but udevadm which uses the same system api as
node serialport shows the wrong ids.

So it's a system issue, either across Ubuntu, in my laptop drivers or in
udev.
On Jan 22, 2016 12:28 AM, "Bryce Kahle" <notifications@github.com> wrote:

[2016-01-22 23:30] brycekahle commented on #174
I fixed this in a5a75ab2018d127ccf0ae2ef62fd34aaa04837a1

[2016-01-22 23:30] #174 closed

[2016-01-22 23:34] brycekahle commented on #127
We've fixed some online/offline reporting issues in the API, which was the root cause of this issue.

[2016-01-22 23:34] #127 closed

[2016-01-22 23:34] #134 closed

[2016-01-23 00:28] brycekahle commented on #68
The `Error during download get_status` is something that has been addressed in the bootloader for version 0.4.9 of the firmware. I'm going to close this issue, but please reopen if you run into it again.

[2016-01-23 00:28] #68 closed

[2016-01-23 00:31] #199 closed

[2016-01-23 00:33] brycekahle commented on #32
Fixed as part of #159. This is automatic now.

[2016-01-23 00:33] #32 closed

[2016-01-23 00:40] #144 closed

[2016-01-23 01:03] #108 closed

[2016-01-23 01:25] #19 closed

[2016-01-23 01:54] #114 closed

[2016-01-23 02:04] brycekahle commented on #130
This was an API issue that has since been resolved.

[2016-01-23 02:04] #130 closed

[2016-01-23 02:06] brycekahle commented on #157
I think this would be difficult and really confusing because we would need to instruct the user to go to listening mode *and then* DFU mode.

[2016-01-23 02:06] #157 closed

[2016-01-23 02:09] brycekahle commented on #107
If we are updating system parts, can't we do part1 and then part2?

[2016-01-23 02:15] brycekahle commented on #61
One thing to note is that we cannot configure a claim code over serial, so we would need to initiate the old claim process (`device add`) once the device is online.

[2016-01-23 17:40] brycekahle commented on #179
I like this idea but how will you know if the function call failed for some reason?

[2016-01-23 17:44] brycekahle commented on #179
Maybe if you provide a value it uses that for the exit code in the failure case? Example: `particle call testphoton digitalwrite "D7,HIGH" --return-val -10` would return `-10` if it fails.

[2016-01-23 17:53] brycekahle commented on #179
Another complication is exit codes are non-negative integers from `0` to `255`. So `-1` is not a valid exit code, and would instead be read as `255`.

[2016-01-23 18:56] camilstaps commented on #179
For example in bash you could do `echo $?`. But also if you chain commands using `&&` it will have effect.

That seems less flexible. If the return value from the function would be returned, you could return multiple status codes. I don't see what this would add, but do enlighten me.

Yeah, that exit codes range from 0 to 255 is an issue. I guess the most intuitive would be casting the return valu

[2016-01-25 18:38] brycekahle commented on #179
The problem is knowing the difference between a failed function call (device is offline for example) and a function call that returns a non-zero return value.

[2016-01-25 19:56] camilstaps commented on #179
As far as I can see, when the function call fails -1 is returned. So you could simply leave it to the developer to distinguish from it by not using -1 himself if he is going to use this feature.

[2016-01-25 22:21] technobly opened #201 "particle send keys is more verbose now"
This command used to only output the last two lines, now has some extra non-essential output.

`$ particle keys send 1234123412341234 device.pub.pem`

[code]

[2016-01-29 21:12] technobly opened #202 "Feature Req: Built-in Changelog"
Just updated my CLI and had a fun idea.  Is it possible to add text output to the end of the installation/update log?  Maybe we could spit out the Changelog between the last two versions and which version you just upgraded to in there?

Additionally or instead of, how about building the changelog into the CLI?  so then you could do and get the same effect

[code]

[2016-02-03 08:54] pommerien opened #203 "period in form field name for webhooks"
I am experiencing a minor issue with posting to Google forms from a webhook.  It appears as if the particle cloud does not like form field names to contain periods.  For example:

[code]
Results in:
[code]

Note the empty error hash being sent back.  However this JSON creates a webhook just fine:
[code]

[2016-02-03 16:13] technobly opened #204 "Document the `--target` switch for firmware versions"
Compiling with target works
[code]

Compiled binaries don't seem to work, but would be nice if they did :)
[code]

[2016-02-08 18:28] brycekahle commented on #204
I'm not sure what you mean by compiled binaries?

[2016-02-08 21:01] brycekahle commented on #203
Thanks for the bug report. I will take a look and get back to you.

[2016-02-08 21:30] brycekahle commented on #203
Confirmed. I've filed a bug on our API internally. I will update this issue when any changes are made.

[2016-02-08 21:34] technobly opened #206 "`particle update` does not throw error if `dfu-util` errors"
Bootloader firmware will [**now**](https://github.com/spark/firmware/commit/35e8aef998966ae0c2bd6e387543bc8c58f94eed) propagate an error back to the host now when there is a write/erase failure during DFU transfer, however the CLI does not indicate an error if it sees one during `particle update`

Note: This may be an inherent issue with all `dfu-util` usage in the CLI.

[**This special electron v

[2016-02-08 21:39] brycekahle commented on #206
Do you know what error `dfu-util` reports?

[2016-02-08 21:40] brycekahle commented on #206
A full output from `dfu-util` would be helpful.

[2016-02-08 21:43] technobly commented on #206
Here's a sample output:
[code]

The error message during erase is different though.

[2016-02-08 21:51] technobly commented on #206
[**Here's a bootloader**](https://dl.dropboxusercontent.com/u/41117656/firmware/bootloader-dfu-write-verify-retry-then-erase-error-after-15s.bin) that will cause an Erase error after 15 seconds of up time, so easy to make a transfer pass, then fail.

Here's a sample output of the Erase error:
[code]

[2016-02-08 23:29] brycekahle commented on #206
Ok. I know the issue. It is currently ignoring `stderr` output with `get_status` as an error because `Error during download get_status` was a non-error before.

[2016-02-08 23:42] technobly commented on #206
Cool.. I know there are still some weird cases, but here's what things look like for me in this one case when everything completes correctly.

[code]

[code]

[2016-02-09 06:25] #78 closed

[2016-02-09 14:27] dmiddlecamp opened #207 "particle subscribe doesn't detect invalid token"
[code]

[2016-02-09 16:37] opyh opened #208 "`particle claim` should work when supplying an ID with uppercase hex letters"
We just tried to claim a Photon by supplying its ID that we copy&pasted from the command line output of `particle-cli`. It worked neither with the Particle Build web interface nor with `particle-cli` ('Could not claim device')

The ID was `220034000E47343432313031`.

When we changed the letter `E` to `e`, it worked. Could it be that IDs are interpreted case sensitive somewhere on the server? In th

[2016-02-09 18:05] brycekahle commented on #208
What command did you run that output the ID in uppercase?

[2016-02-09 18:35] opyh commented on #208
If I remember correctly, this was part of the `particle setup` output.

[2016-02-09 18:52] #207 closed

[2016-02-09 18:57] #208 closed

[2016-02-09 18:57] brycekahle commented on #208
I've fixed the `setup` output to lowercase. I will file an internal bug against our API to be case-insensitive.

[2016-02-09 20:14] technobly commented on #206
@brycekahle I think we should also add this error as well `Error during special command "ERASE_PAGE" get_status` which could happen if the write protection cannot be changed, or noise/voltage issues are present.

[2016-02-09 20:15] brycekahle commented on #206
We should ignore that error?

[2016-02-09 22:09] technobly commented on #204
xxx.bin System part 1 & 2 and tinker for various platforms :)  They only send the latest, but it would be nice if older versions could be pulled from github releases and could use `--target` as well.

[2016-02-10 20:05] technobly commented on #206
Nope, if we see the Erase error we can be reasonably sure that the dfu-util process failed to write the image correctly.  We should *not* say everything completely successfully in that case.

[2016-02-10 20:06] brycekahle commented on #206
Great, so the change I made only ignores a very specific message. Everything else is treated like an error.

[2016-02-10 20:22] technobly commented on #206
Ahh.. Hmm..  When I looked at your change, it included a test for `Error during download get_status` which is the Write error specifically.  So you are saying you are ignoring this specific error?

[2016-02-10 20:28] technobly commented on #206
I just checked with the updated CLI and it still ignores the Write error, which you can reproduce with the binary in the first post.  Second post of mine has the error.

[2016-02-10 20:29] brycekahle commented on #206
Hmm, ok. Re-opening.

[2016-02-10 20:32] technobly commented on #206
It also continues to ignore the Erase error, albeit ending `particle update` early.  It says "System firmware update successfully completed!"

[2016-02-11 20:19] #206 closed

[2016-02-14 21:25] opyh commented on #208
Thanks for your quick response!

[2016-02-18 15:23] dmiddlecamp opened #212 "device list should provide some indication of last_heard for electrons"
Looks like we said this feature existed already?

https://community.particle.io/t/electron-changelog/19998/1

[code]

[2016-02-18 19:59] brycekahle commented on #212
This was a miscommunication. The feature has not been implemented yet, and will likely not be as described. The post has been updated.

[2016-02-18 21:47] dmiddlecamp commented on #212
can we please leave this open, I think this would be a good feature?

[2016-02-23 11:45] m-mcgowan opened #217 "As an automated test client, I need a way to avoid redundant flashing of an application"
When running automated tests on a device, many tests share the same fixture, which involves flashing a given firmware to the device.

To avoid flash wear, it's desirable to have some way to short circuit the operation if the firmware is already on the device. So that running 100 tests all requiring the same firmware don't each flash the same firmware to the device repeatedly.

For background, Open

[2016-02-23 17:39] dmiddlecamp opened #218 "Windows 10 - particle identify"
gets the device id, then fails getting the system firmware version

[2016-02-23 17:43] dmiddlecamp opened #219 "Can we get the CLI working with the latest versions of node?"

[2016-02-23 18:02] brycekahle commented on #219
It does. What version did you try?

[2016-02-23 18:02] brycekahle commented on #218
What version of firmware were you running? Not all versions support that command.

[2016-02-23 18:28] dmiddlecamp commented on #219
Apologies!  I had heard reports that some hackathons / conferences were struggling with incompatibilities with particular versions of node (4, 5), but I don't have specifics yet

[2016-02-24 15:42] dmiddlecamp commented on #218
Looks like it happens in node 4.3.1, and node 0.12.4

![particlecliserialerrorsonwindows10node431](https://cloud.githubusercontent.com/assets/833793/13290772/ca5637d8-dada-11e5-948e-69f1cb7b8718.png)

![particlecliserialerrorsonwindows10](https://cloud.githubusercontent.com/assets/833793/13290775/cc2e4c44-dada-11e5-9f09-59033665f147.png)

[2016-02-24 15:42] #219 closed

[2016-02-24 15:42] dmiddlecamp commented on #219
Thanks for adding those versions of node to the testing suite!

[2016-02-24 19:15] m-mcgowan commented on #107
Yep, when updating that is the correct order, but when downgrading it should be in the reverse order, so that dependencies are always met. (part1 is a dependency of part2.)

[2016-02-26 23:16] technobly opened #221 "Suggest failure resolution for known issues"
`particle flash --serial firmware.bin`
Will fail currently if USB debugging is enabled.

Suggest applying the default tinker first over DFU to resolve.
`particle flash --usb tinker`

[2016-02-27 00:32] brycekahle commented on #221
Is this a documentation change?

[2016-02-27 00:33] #173 closed

[2016-03-01 15:12] punitganshani opened #222 "Subscribe command shows ALL events (including devices I don't own)"
**Issue:**
- When we login to our Particle Dashboard, we can view events generated by our Particle Devices
- When we use NODE CLI, we can view events generated by ALL Particle Devices (including those we don't own)

**This is a potential security issue as I can view data from other devices that I don't have access to**

**Replication steps:**

- Use `nodejs` CLI and login using Particle subscripti

[2016-03-01 15:14] kennethlimcp commented on #222
They are public events. If you set them to private, they will not appear in the public firehose.

So it's like people are making them public which is why you are see it.

See the `PRIVATE` example: https://docs.particle.io/reference/firmware/electron/#particle-publish-

[2016-03-01 15:26] dmiddlecamp commented on #222
Thanks @kennethlimcp !

Thanks for reporting, but yes, this is the public event firehose!  We understand there is some confusion about public vs. private events, and we're trying to improve our documentation and examples and defaults to make this easier.

Thanks!
David

[2016-03-01 15:26] #222 closed

[2016-03-02 11:42] kennethlimcp opened #223 "[flashing] Check for file extension"
From the community:

`particle flash --serial test01.ino` is uploading the file to the device

http://community.particle.io/t/partice-cli-particle-flash-serial-test01-ino-not-working-as-expected/20647

[2016-03-02 16:31] punitganshani commented on #222
I believe by default all events should be private and only if required we should allow making them public. This will prevent accidental event publication.

My 2c

[2016-03-05 23:21] zoltan-fedor opened #224 "Particle CLI cant load Firmware Binary - Electron"
I have downloaded the binary, but cannot upload to Elektron.
Basically I have the same problem as here https://community.particle.io/t/particle-cli-cant-load-firmware-binary-electron-at-t-data-card-solved/205151, except reinstalling nodejs and particle cli does NOT solve the problem.

So I downloaded the firmware binary and trying to flash it to Elektron via USB using Linux Mint and particle cli.

[2016-03-05 23:54] zoltan-fedor commented on #224
After a few trials I finally succeeded with node v5.7.1;

$ particle flash --serial blink.bin
! PROTIP: Hold the SETUP button on your device until it blinks blue!
? Press ENTER when your device is blinking BLUE
sending file: blink.bin

Flash success!
Aborted

[2016-03-06 00:05] brycekahle commented on #224
Hmm, the node version definitely doesn't need to be that new. I'm going to reopen this for more investigation.

[2016-03-06 00:15] zoltan-fedor commented on #224
Okey, I was surprised too, I thought it must be something else not the version, so it was a bit of a surprise that it was working with v5.7.1, specially as I have also tried v0.12.11 before and that hasn't worked either, so I was about to give up.

[2016-03-08 23:50] technobly commented on #85
For some reason I thought `particle serial monitor` already did this... but as I'm finding out it does not?  Is `particle serial monitor` read (monitor) only?  When I type characters they are shown on the screen which is very misleading, as if they are being sent and echoed.

I would love to see `particle serial terminal` supersede `particle serial monitor` and depreciate monitor completely.  I re

[2016-03-17 18:11] ooniverse commented on #224
I'm encountering this same problem with my electron using nodejs=0.10.37-1chl1~utopic1.

but when I install nodejs 5.9.0 I get a different error:
[code]

I'll try installing nodejs v5.7.1 specifically.

BTW- I'm running Ubuntu 15.10.

[2016-03-17 18:56] ooniverse commented on #224
With 5.7.1 I have the same problem:
[code]

[2016-03-17 19:01] ooniverse commented on #224
I updated particle-cli with:
`sudo npm install -g particle-cli`

and now I get:
[code]

[2016-03-17 19:03] ooniverse commented on #224
Tried again after reset and it now works!

[2016-03-17 19:03] brycekahle commented on #224
@ooniverse thanks for the additional data!

[2016-03-17 19:08] ooniverse commented on #224
You're welcome.  Thanks for all the helpful support.  I wouldn't have been able to figure this out so quickly without all the useful pointers from previous posters.

[2016-03-17 19:11] ooniverse commented on #224
I had already updated to the latest particle-cli before installing the new nodjs version.

It must be order dependent . . . need to update particle-cli AFTER nodejs.

[2016-03-17 20:05] brycekahle commented on #224
Yeah, looking at your error closely, it had trouble loading `node-serialport`

If you updated node, but didn't reinstall then you would get that.

[2016-03-17 20:08] #224 closed

[2016-03-22 22:59] johnwelford commented on #203
Any progress on this, or any possible workarounds?

[2016-03-22 23:29] monkbroc opened #226 "New out of box Photon detected as Core on Linux"
The `serialNumber: 'Particle_Photon'` doesn't match for a new photon straight out of the box since it has `'Spark_Devices_Photon'` as the serial number. Because of this, I can't set up a new Photon using the CLI.

[2016-03-22 23:29] brycekahle commented on #203
This issue was moved to spark/cloud#2

[2016-03-22 23:29] #203 closed

[2016-03-23 17:20] brycekahle commented on #226
Since you have the Linux box :smile: do you want to submit a PR?

[2016-03-23 17:50] monkbroc commented on #226
Yeah. I just put that in so I don't forget about it.

[2016-03-23 18:13] monkbroc opened #227 "Claim Photon over USB"
When I write `particle setup` and I have a Photon connected to the USB port, it says `I have detected a Photon connected via USB. The Photon supports secure Wi-Fi setup. We'll try that first.`

When I answer No to `? Would you like to wait and monitor for Photons entering setup mode? (Y/n)` It should not say `> Ok, bye! Don't forget`particle help`if you're stuck! <3`

It should instead continue wi

[2016-03-23 18:19] brycekahle commented on #227
So you cannot send a claim code via serial, which is a big part of the setup.

[2016-03-23 18:55] monkbroc commented on #227
In that case I suggest changing the text to "I have detected a Photon connected via USB. We will set it up using a secure Wi-Fi connection".

[2016-03-24 14:30] monkbroc opened #228 "Unhelpful error message in rename when device name doesn't exist"
[code]

Expected to see an error like "abc cannot be found"

[2016-03-24 14:42] monkbroc opened #229 "Some commands use new vs create, delete vs remove"
Standardize the CLI verbs for creating and removing across all commands.

Make sure to keep the old synonyms, but hide them in the help.

[2016-03-25 15:19] wgbartley opened #230 "Display Flash/RAM Percentages like web IDE"
When code is compiled/flashed in the web IDE, it displays something along the lines of

[code]

I think this would be very handy for the CLI as well.  I'm not sure if this might break expected behavior for some since I could see parsing the usual output as some sort of automated/scripted process.  Perhaps a `--percent` flag could be used to get the extra information.

For those with access, there

[2016-03-28 15:56] kennethlimcp opened #231 "set max retry for wifi scan error"
When the photon is unable to perform a scan:

[code]

We should set a max retry of something like 10?

[2016-03-30 22:55] brycekahle commented on #190
@reconbot thanks for the update.

[2016-03-31 01:00] monkbroc commented on #190
For reference @reconbot , here's the Ubuntu bug I filed for this issue:
https://bugs.launchpad.net/bugs/1539348

[2016-03-31 06:34] ericyuanyong opened #232 "Incorrect platform id will show up when flash the core"
There is a incorrect platform id error if download the firmware from WEB IDE and flash it by
`particle flash --usb frimware.bin`  to `core` even the core had chosen in IDE. And the hint says need to use --force to override it. So it can be temporarily solved by `particle flash --usb firmware.bin --force`.

[2016-04-05 18:24] brycekahle commented on #228
I have a suspicion that when https://github.com/spark/cloud/issues/3 is fixed, this will be as well.

[2016-04-05 20:27] dmiddlecamp opened #233 "particle-cli will send thousands of simultaneous API requests as fast as it can in some extreme scenarios"
We've noticed some users have many thousands of devices registered to a single account.  A "particle list" will cause a giant spike of requests.  Can we set the connection pool on the request object to be like, 10, or rate-limit these requests, or cut-off the huge request spike after device number 100 or something unless a special flag is set?

[2016-04-05 20:42] monkbroc commented on #228
The error is actually different. Since the API return 403 permission denied for any device ID/name that it doesn't recognize the CLI should say "I can't find that device".

Here's the cloud API response:
[code]

[2016-04-05 20:44] brycekahle commented on #228
Ah, yes subtle difference.

[2016-04-12 16:12] joegoggins opened #234 "particle serial monitor "poll until serial port is available" feature"
I can capture serial logs using `particle serial monitor`, however, I miss the first part of the output because I need to time my execution of this command to be right after it opens the serial port, which is at least .5-1 seconds behind when the output starts, so I miss the first part.

Is there a good way to do this? Would adding a serial port poll flag like `--poll 1ms` to the `serial monitor`

[2016-04-18 11:38] SableRaf opened #235 "“events.js:72 throw er; // Unhandled 'error' event” during ‘particle setup’ with Photon"
Note: I updated particle-cli and the firmware before running `particle setup`.

[code]

[2016-04-18 13:51] SableRaf commented on #235
Note: the same error is mentioned here (in a different context) but I don't know what to make of the answer.

http://stackoverflow.com/questions/17749055/nodejs-throw-er-unhandled-error-event-events-js72-when-using-child-proc

[2016-04-18 19:53] brycekahle commented on #235
What OS are you using?

[2016-04-19 21:27] derekmpeterson commented on #201
It looks like @dmiddlecamp intentionally enabled logging of execs in 82826e44.  I'll submit a pull request removing it, and you can accept or deny it.

[2016-04-20 21:42] brycekahle commented on #232
@ericyuanyong Do you know what version of Core firmware you were targeting?

[2016-04-21 15:28] kennethlimcp opened #241 "device claim failed error message"
If claiming is not successful with `particle device add xxxx` , you see:

[code]

[2016-04-21 15:47] monkbroc commented on #241
Bryce is fixing this right now.

[2016-04-21 16:59] brycekahle commented on #241
What did you use for `xxxx`? I'm guessing an invalid device id or a device that is not online. I just tested the transfer case and it works properly.

[2016-04-21 17:10] kennethlimcp commented on #241
I used a valid device id. The issue is with ` [object Object]` in the output message and not the function call itself.

[2016-04-21 17:11] brycekahle commented on #241
Yeah, if you issue a raw HTTP request, there is no error message just `{}`. Is the device online?

[2016-04-21 17:35] kennethlimcp commented on #241
Hmm....i got this from: http://community.particle.io/t/photon-setup-failure-new-led-flashing-sequence/22277/25

It seems to have to do with new factory photons that are unclaimed and offline..

[2016-04-21 17:37] brycekahle commented on #241
Yes, you must be online to claim that way.

[2016-04-21 17:38] kennethlimcp commented on #241
TLDR; it might be better to somehow indicate a better error since that doesn't really help with new users having issues claiming their devices and failed..

[2016-04-21 17:38] #241 closed

[2016-04-21 17:40] brycekahle commented on #241
It is a tricky balance because we do not want to leak information about what device ids are valid. This would allow id enumeration.

[2016-04-21 23:41] idokleinman opened #242 "Explain required device mode per command in help"
It might seem clear to us but not to our users and documentation is tricky - add simple explanation about required device mode per command in help, i.e.:

for `particle keys` - device needs to be in DFU mode
for `particle identify` - device needs to be in listening mode
for `particle list` - device should be claimed to appear and online to to get list of funcs/vars
etc etc

[2016-04-25 01:53] nanodust commented on #176
I still see this.

sudo npm install -g particle-cli

but I still get

[code]

if I figure out the answer, I'll post back here.

I'm completely new to particle (electron).

(just trying to monitor serial port :)

I'm on Yosimite OSX 10.10.5
[code]
fyi, I use macports node
[code]
and I don't see any of that in this path.

I'm updating all macport dependencies. will try again.

[2016-04-25 02:26] nanodust commented on #176
ok, after updating all port
[code]

then a little
[code]
we see
[code]
yay

tho - not yet...

[code]

and even

[code]

[2016-04-25 02:47] nanodust commented on #176
ok - for some reason

only :
[code]
exists, but particle CLI seems to want node-v46-darwin not 47

let's
[code]
nope, still wants 46

symlinking- a bad idea anyway...
[code]
also doesn't work:
[code]
this is a system - specific thing. but i'm not sure where this went wrong, but it's wrong.
case in point - where did this come from ?
[code]
I do not recall ever setting that up.
 I'm going to remove

[2016-04-25 02:53] nanodust commented on #176
no. there is some dependency hell with
[code]
works fine on it's own, but fails when it' s a part of

[code]

this is now a different thread :) moving on....

[2016-04-26 08:41] boristomas commented on #127
This issue is still present :(

[2016-04-29 14:56] hintron commented on #122
@brycekahle As of version 1.12.0, this problem still exists for me. Maybe the new command timeouts don't affect this repeating behavior.

[2016-04-29 19:25] brycekahle commented on #122
@hintron particle-cli has not been updated to use the newer versions of `softap-setup-js` yet which is why you still see the problem and this issue is still open.

[2016-05-01 01:24] elevatorguy opened #243 "webhook delete"
v1.12.0
This is apparent in the dashboard integrations version of webhooks. but verified list using CLI.
a webhook will be deleted, and no longer shows in "particle webhook list" but the webhook is still being called and shows in the dashboard logs.

[2016-05-01 01:27] kennethlimcp commented on #243
`particle list` shows a list of devices and not webhooks. Are you referring to `particle webhook list`?

[2016-05-01 01:28] elevatorguy commented on #243
sorry, i meant the latter.

[2016-05-01 01:31] kennethlimcp commented on #243
Do you happen to have another webhook listening to the same eventName?

[2016-05-01 01:31] elevatorguy commented on #243
I think that is what caused the issue. But don't anymore.

[2016-05-01 20:36] Knoose commented on #243
I'm having the same issue with phantom/zombie webhooks. I had webhooks with the same name, but I've since deleted them all. Yet, they are still showing up and particle webhook list returns 0.

[2016-05-02 14:32] dmiddlecamp commented on #243
Thanks for the report!

[2016-05-02 15:39] stuboo commented on #243
I'm apparently having the same issue. This sounds like the only explanation. I used the CLI to set up my webhooks. If I have time later today, I'm gonna change my webhook endpoint, create a new webhook, and try again.

[2016-05-02 15:45] Knoose commented on #243
@stuboo, I attempted to change mine and my zombie/phantom hooks changed to that new event. I deleted all my hooks yesterday and I'm still getting data for all of them. Till this is fixed, I'm just filtering the incoming hooks on my webserver.

[2016-05-02 15:50] stuboo commented on #243
@Knoose Care to share how you're filtering them? Sounds like a good fail safe for my system anyway. I plan to write in a delay of about 30 seconds in the arduino code for each device, but a short delay on my server is a good idea too. Thanks!

[2016-05-02 19:07] Knoose commented on #243
@stuboo I'm using Flask (python) and storing the incoming data in a SQL database. Rather than just blindly inserting the incoming values to the database, I added a database query to check if the incoming data matches any value already existing in the database. If it does, I pass over it, and if it doesn't I insert it.

[2016-05-02 19:09] brycekahle commented on #243
Thanks for reporting this! I'm having trouble reproducing this issue. Do you have more details that might help me zero in on the problem? If you need to send sensitive information, you can use the community and PM it to `bryce` there.

[2016-05-02 19:14] stuboo commented on #243
Bryce,
Does this help?
https://community.particle.io/t/why-is-my-webhook-request-running-several-times-with-one-call/22598

In setting up my webhook, I created and deleted a webhook named `venus` several times. It seems as though all of those are being called when I call it a single time now. The link above includes the terminal output when I've subscribed and call the hook one time.

Thanks!
Ryan

[2016-05-02 19:26] brycekahle commented on #243
@stuboo Yes that helps. Investigating further.

[2016-05-05 18:03] Knoose commented on #243
My zombie hooks are all gone now.

[2016-05-06 13:09] stuboo commented on #243
Awesome.  Looks like I have one that's still hanging on.  @brycekahle, any updates?

[code]

[2016-05-06 15:59] monkbroc opened #246 "Flash says OK when required modules not present"
When compiling and flashing with
`particle flash --target 0.5.0 my_device application.cpp`
When the firmware on the device is old I get the message:
`Flash device OK:  Flash requires modules not present on device`

It shouldn't say OK if the flash didn't take place.

[2016-05-06 16:05] sazp96 commented on #243
I'm still seeing zombie hooks on my logs (two responses for 1 call).

[2016-05-06 19:06] beanieboi opened #247 "node deprecation warnings"
everything works as intended but it's very cluttered. even usage of the particle-cli tools is greeted with this huge deprecation warning. it looks like it's coming from the serialport module.

using the lastest (6.0) version of node.

[code]

[2016-05-06 19:08] brycekahle commented on #247
This is being handled in #244

[2016-05-06 19:08] #247 closed

[2016-05-06 19:09] beanieboi commented on #247
sorry for the dup.

thanks for addressing this.

[2016-05-06 19:14] brycekahle commented on #243
@stuboo You are running into the prefix filter. Because you have a hook for `venus` and `venus_hook`, when you publish `venus_hook`, both will be triggered. The subscriptions are all prefix filters, meaning they match on the start of the string.

[2016-05-06 19:15] brycekahle commented on #243
This issue is still valid btw, but since the webhook system got restarted recently it cleared up the zombie hooks.

[2016-05-07 13:54] gritnix commented on #243
Thanks Bryce.  I realize it's a well known issue at this point, but more voices might bump priority so adding mine.  I have zombies as well.  Just getting started on my project so nothing critical for me at this point, just annoying.  Thanks.

[2016-05-07 21:12] spr-lfeliu commented on #176
I had a module version mismatch error for SerialCommand.js after I upgraded to nodejs v6. Downgrading my node version to 4.4.4 and doing a clean install of particle-cli fixed the issue.

[2016-05-09 13:09] stuboo commented on #243
Fantastic, everyone. Thanks so much for the work on this. Zombie (and prefix filter) problems resolved for me.

[2016-05-09 21:17] pedromorfeu commented on #243
I'm having the same issue. I've deleted all the webhooks and recreated them, but the previous ones are still hanging. It's important to say that I've used the same event name in the recreation process.
I think I'll just wait for the zombies to disappear.

[2016-05-09 23:32] budcraig commented on #243
I'm having this issue as well - It is calling 7 total webhooks, 6 deleted and one active. The deleted webhooks are not being listed with particle webhook list, and it has been >48 hrs.

[2016-05-10 07:32] pedromorfeu commented on #243
My zombie instances are gone now. They seem to have been cleared during the night.
Just to wrap it all up, what I did was deleting all the webhooks and recreating them. Then it's a matter of time. Anyway, Particle is probably already looking into it.
Thanks everyone.

[2016-05-10 18:54] brycekahle commented on #243
We just deployed a fix that should prevent zombies from occurring in the future.

[2016-05-10 18:54] #243 closed

[2016-05-13 00:59] kneuron commented on #176
I just had the same issue as @spr-lfeliu (Thanks!!), and solved it with his suggestion of downgrading to 4.4.4 and reinstalling particle-cli.

[2016-05-13 14:39] #228 closed

[2016-05-15 20:27] QCaudron opened #249 "Spark vs Particle CLI tools, and npm issues"
A couple of things :

- It's not clear to me, as a user, whether we should be using spark-cli to deal with Cores, and particle-cli to deal with Photos, or if particle-cli can handle both. The spark-cli repo is deprecated and suggests we use particle-cli instead; however, the vast number of guides and tutorials out there are still pointing to spark-cli. As such, I think this should be make obvious

[2016-05-19 20:59] monkbroc commented on #249
Thanks for those comments.

Yes, particle-cli works with Cores. spark-cli is no longer needed.

There are many variations of installing with npm. For example I configured my npm to install global packages in `~/.npm-global` by setting `prefix=~/.npm-global` in `~/.npmrc`. It's simpler to install globally with sudo, but alternatives are possible if that's not an option.

In any case the installatio

[2016-05-19 21:02] brycekahle commented on #249
Also see https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2016-05-19 21:07] QCaudron commented on #249
Thanks, @monkbroc and @brycekahle. Thoughts on whether this is worth making clearer in the docs ?

[2016-05-21 15:27] SableRaf commented on #235
OS X 10.9.5

[2016-05-24 10:13] lbt commented on #232
Just to say I have this issue with one of my Sparks too
I did
    particle compile core gatekeeper --saveTo gatekeeper.bin
on 24 May when the target was 0.5.0 according to build.particle.io

[code]

[2016-05-25 18:58] monkbroc commented on #249
I clarified the note in the spark-cli repository that mentions it is deprecated.

[2016-05-25 18:58] #249 closed

[2016-05-25 19:02] monkbroc commented on #242
Good point. Long term I'd like most commands to work no matter the device mode (identify, wifi setup, flash) as long as it's connected to USB.

[2016-05-26 13:30] #232 closed

[2016-05-26 13:32] monkbroc commented on #232
This is now fixed in the `master` branch. This fix will be included in the next version.

[2016-05-26 20:15] monkbroc commented on #227
With this firmware PR, it's possible to claim a Photon via USB serial.
https://github.com/spark/firmware/pull/960

[2016-05-27 05:17] technobly opened #251 "v1.13.0 fails to flash binary OTA"
v1.13.0 fails to flash binary OTA (tried and failed with Core and Photon)
[code]

Works with v1.12.0
[code]

[2016-05-27 13:00] #251 closed

[2016-05-27 14:32] straccio opened #252 "Can't flash firmware.bin"
Good morning,
with latest release i can't flash the device from cloud.
Here the log
`
particle flash ${device_id} build/PHOTON/firmware.bin
/Users/###/.nvm/versions/node/v5.10.1/lib/node_modules/particle-cli/commands/CloudCommands.js:975
			var alwaysIncludeThisFile = ((ext === '.bin') && (i === 0) && (filelist.length === 1));
			                                                               ^

Re

[2016-05-27 14:41] monkbroc commented on #252
Thanks for the report. I am about to release a new version today with the fix.

[2016-05-27 14:42] straccio commented on #252
Thanks to your great job!

[2016-05-27 19:47] monkbroc commented on #252
We have a new release out! Please run `npm update -g particle-cli` (you may need`sudo` in front depending on your setup).

[2016-05-27 19:47] #252 closed

[2016-05-27 20:18] osmithy opened #253 "Alert if a .cpp and .ino file have the same name"
I was wrestling with an "undefined reference" error that I knew couldn't be right, and I finally figured out that it was because my .ino file had the same name as one of my .cpp files. When I changed the name of the .ino file, the error went away. My research tells me it's because both the .ino and .cpp files become .o files when compiling, which causes problems when they have the same name. It wo

[2016-05-27 20:23] monkbroc commented on #253
Issue moved to [spark/cloud #9](https://github.com/spark/cloud/issues/9) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-05-27 20:23] #253 closed

[2016-05-27 20:25] monkbroc commented on #253
That's a strange error. This should be fixed in the cloud compiler since it also affects the web IDE. I moved it to the repository where we keep issues for cloud components.

[2016-05-27 20:26] osmithy commented on #253
Great, thanks for putting it in the right place.

On Fri, May 27, 2016 at 1:25 PM, Julien Vanier <notifications@github.com>
wrote:

[2016-05-29 03:39] zsup opened #254 "Replace 'particle.io' ascii art with 'Particle'"
The ascii art in the CLI says 'particle.io', but should be updated to our correct branding, which is just 'Particle' (capital P, no .io)

[2016-06-01 15:05] towynlin opened #255 "particle list output should not be truncated"
With node 6.2.0 and particle-cli 1.14.1 my `particle list` output is always truncated, excluding function & variable names as well as entire device listings. I'm using zsh 5.0.8, and the output is truncated the same in bash 3.2.57. I verified that doing the bare curl command does in fact list all devices, functions, and variables.

<img width="605" alt="screen shot 2016-06-01 at 7 57 18 am" src="h

[2016-06-01 20:08] monkbroc commented on #255
I couldn't reproduce the issue with node 6.2.0 or 5.11.1, bash or zsh and particle 1.14.1.

If anybody else sees this issue please post here so we can find the cause.

[2016-06-01 20:43] wgbartley commented on #255
I can confirm!  @towynlin is not alone.
Mac OS X El Capitan 10.11.5
Bash v3.2.57
NodeJS v6.2.0
Particle CLI v1.14.1

I also have a bonus error in there as well.  I haven't tried tracking it down yet.

<img width="1000" alt="screen shot 2016-06-01 at 4 41 35 pm" src="https://cloud.githubusercontent.com/assets/271242/15725017/caf041d6-2817-11e6-9118-44c420f0dbeb.png">

[2016-06-01 20:45] monkbroc commented on #255
The bonus error is from the serialport module :) You upgraded node but the module is still compiled for the old version.

[2016-06-01 20:47] wgbartley commented on #255
@monkbroc: I guess attempting another reinstall of particle-cli wasn't enough.

In case it's a character count issue, `particle list | wc -c` gives me `1767`.  I'm not sure if that takes color codes into account, though.

[2016-06-01 20:48] brycekahle commented on #255
@wgbartley Try `npm rebuild serialport` to fix the error.

[2016-06-01 20:48] brycekahle commented on #255
@wgbartley How did you reinstall?

[2016-06-01 20:48] monkbroc commented on #255
This is a race condition between `console.log` dumping its output and the node process shutting down.

[2016-06-01 20:51] wgbartley commented on #255
@brycekahle: Node reinstall was compiled from source.  Been doing it that way since before OS packages were available.  Why start now?  I `npm uninstall -g particle-cli`'d and then `npm install -g particle-cli`'d and the previous error is gone.

Let me know if there's anything I can help check on my end.  Ping me in Slack if I don't respond here in a timely manner.

[2016-06-01 20:54] dmiddlecamp commented on #255
great find @monkbroc

[2016-06-01 21:14] monkbroc commented on #255
I'm just going to make writing to STDOUT blocking for the CLI to fix this and any other similar issues anywhere else in the app.

[2016-06-01 21:16] #255 closed

[2016-06-01 21:33] towynlin commented on #255
Fix confirmed! Thanks @monkbroc!

[2016-06-02 16:51] technobly opened #256 "`particle subscribe mine` event stream times-out without error"
The event stream in the CLI `particle subscribe mine` times out after awhile, but doesn’t terminate?  It appears to still be listening, but it’s deaf.

[2016-06-04 19:32] tedder opened #257 "colors look bad on a light terminal"
The cli colors are hardcoded and assume a dark background. They aren't readable on a light background. The screenshot shows how it looks on Solarized Light.

This isn't an easy change because it's all through the code, but I still think it's worth having an issue for.

<img width="675" alt="colors on a light terminal backgorund" src="https://cloud.githubusercontent.com/assets/97914/15801629/54bb88

[2016-06-05 02:17] monkbroc commented on #257
What do other tools do to handle this? Do you simply turn off the color in tools like `ls`?

[2016-06-05 17:23] tedder commented on #257
CLICOLOR=1 seems to do the trick for `ls`, not sure how it distinguishes light/dark, I don't have an `LSCOLORS` override. My `.vimrc` contains `set background=light`. `git` simply has color enabled.

Chalk doesn't support themes as easily as colors.js, but it appears to be *possible*, at least. It'd be a lot easier if all of p-cli's display code was wrapped, I think.

[2016-06-06 02:22] monkbroc commented on #257
I agree this will be easier to customize when the CLI is more modularized.

[2016-06-08 03:36] monkbroc opened #258 "Add WiFi switching to Windows for particle setup"
`particle setup` is broken on Windows since it can't auto-switch wifi networks. [It also throws an exception right now.](https://community.particle.io/t/cannot-reclaim-particle-photon/23547)

[2016-06-08 16:05] brycekahle commented on #258
It is supposed to drop to manual mode on Windows.

[2016-06-14 19:55] #254 closed

[2016-06-16 13:11] ScruffR opened #259 "Regression compiling somewhere between 1.12.0 and 1.14.2"
I've had a member on OSX 10.9.5 who could not build his project containing the most recent Blynk library (but hasn't to do with that lib).
While I could build successfully on my Windows machines (the exact same project files and structure) he always got this

[code]

This was with node 4.2.4 and CLI 1.14.2
But using CLI 1.12.0 plus a `particle.include` file worked like a charm

[2016-06-16 13:18] technobly commented on #259
Thanks for continuing the dig into this problem ScruffR!  My guess is there are still left over file handling bugs from the v1.13.0 changes which introduced the ability to compile subdirectories.  "Compile failed. Exiting." is an node.js exception indication.

[2016-06-16 13:52] monkbroc commented on #259
I'll be honest that I didn't test all the cases of how people compile firmware because there's no specification anywhere of all use cases that should work. Take the `particle.include` for example. Is it something that people really use and why?

[2016-06-16 15:04] technobly commented on #259
`particle.include` was previously the only way to include files from subdirectories.

[2016-06-16 15:07] technobly commented on #259
`particle.include` is not failing though, it's the new `.` that just recursively adds all files from all subdirectories.  And it doesn't happen for everyone... for example I can use `.` just fine.

It might be worth including the entire directory structure in the first post @ScruffR but didn't you also say that you could compile these same files without a problem?  So it's those files + the OS + e

[2016-06-16 15:15] ScruffR commented on #259
The file structure didn't make any difference. I tried different setups and was always able to build but Morgan couldn't get it to build on his Mac but on an ol' Windows machine he dug up.

[2016-06-17 12:43] kennethlimcp commented on #259
Using node 5.7, CLi 1.12.0,

[code]

[2016-06-17 12:50] kennethlimcp commented on #259
I wonder what's going on...

[code]

Can we see a `ls` of that directory?

[2016-06-17 13:41] ScruffR commented on #259
I had him move the whole lot into a temp folder directly in his `/Users` and he had it `chmod 777`
I sent him a zip of the project that built on my machine but it didn't build on his.
His tar that he sent to me - which didn't build on his - built just fine on mine.

I guess I could send you both archives but I don't think it's in the files. We both just downloaded the Blynk repo 0.37 and used the

[2016-06-17 14:07] kennethlimcp commented on #259
@ScruffR, i tried to create a `._` file as well but no dice. I would recommend reinstalling CLI just to be sure. i got some weird error just now and a reinstallation fixed it. (i would blame npm2 for the weirdness)

[2016-06-17 14:10] ScruffR commented on #259
We deinstalled reinstalled node and CLI several times, but no change.
I can ask Morgan if he'd be willing to try 1.14.2 again and maybe try if a `particle.ignore` file would help.

[2016-06-17 14:11] kennethlimcp commented on #259
From the above, you can clearly see that mine is resulting in an error. If i move the `.ino` file into the subdir, it will compile fine.

[2016-06-17 14:23] ScruffR commented on #259
Actually no, above I see in both cases
[code]
and
[code]
I don't see an error.
But if you had an error with 1.12.0 without `particle.include` that'd be no surprise.

[2016-06-25 00:16] faddah opened #262 "Particle-CLI not working on ChromeOS/Chromebook Linux variant"
hi,

i cannot get the particle-cli to work on my Chromebook running ChromeOS, which is a linux variant. i am in dev mode in my Chromebook and i can get to the command line and have installed node.js (v4.4.3) & npm (v3.8.6) and they run with several other NPM packages just fine, but particle-cli throws an exception during the set-up in the part when trying to find WiFi network. and the ChromeOS see

[2016-06-26 19:33] ScruffR commented on #259
@technobly, a new incident in this direction
https://community.particle.io/t/cli-compile-fails/23970

[2016-06-29 20:16] MaxSharx commented on #259
Yes, that's me. Thanks ScruffR. It's really annoying but I'm unable to compile but simple projects. Is anybody doing a RCA or any analysis on this issue? Regards, Marcus

[2016-06-30 06:04] ScruffR commented on #262
For this problem, do you get the same outcome when you follow this suggestion given by CLI?

so try
[code]
And for only setting credentials I'd rather go with
[code]
for which you need to be in Listening Mode and don't use the auto-scanning feature, rather do it manually.

[2016-06-30 18:13] monkbroc commented on #262
Hi @faddah, ChromeOS is not currently a platform we officially support for the CLI. If you're able to get it working, please let us know and contribute back your changes in a pull request.

[2016-07-03 00:25] faddah commented on #262
@ScruffR & @monkbroc —

thank you for responding.

unfortunately, now my Chromebook/linux variant is, on the shell command line tab, giving me an —

[code]

every time i start the shell tab and it no longer sees my node.js install and, consequently, any of the npm packages, including particle-cli. in addition, it's no longer giving me permissions to use gcc/make to re-install node. so i'll have to

[2016-07-07 04:20] DazWilkin opened #263 "Provide "webhook describe [hook id]""
The dashboard provides ways to create, list, delete and (!) describe (get) existing integrations (webhooks):

https://dashboard.particle.io/user/integrations/webhooks/[hook id]

The CLI permits create, list and delete only.

The API has GET /v1/webhooks/[hook id]

It would be useful to have a CLI equivalent to generate the JSON template for the integration.

This template could then be used as the

[2016-07-07 17:12] elevatorguy opened #265 "(CLI v1.14.2) particle compile --target 0.5.1"
I realize that electron firmware version 0.5.2 is now out, and that I can still compile to 0.5.1 with the web IDE, but it would still be useful to target 0.5.1 from the cli.

[2016-07-07 17:15] brycekahle commented on #265
@elevatorguy This is supported (added in #195). It looks like we need to update the documentation.

[2016-07-07 17:29] elevatorguy commented on #265
Using version 1.14.2:

![image](https://cloud.githubusercontent.com/assets/881785/16662709/5da163ce-443e-11e6-994f-319e60592b55.png)

[2016-07-07 18:40] technobly commented on #265
We just re-added it.  Originally we were going to remove it to keep people from possibly downgrading from it and erasing Wi-Fi credentials, but we decided to handle that case with just warnings in our communications.  Sorry for the inconvenience!

[2016-07-07 18:40] #265 closed

[2016-07-10 17:06] ScruffR commented on #259
@monkbroc maybe a new instance of the same problem
https://community.particle.io/t/compiling-using-cli-with-multiple-directories/24273/3

[2016-07-13 13:21] elevatorguy opened #266 "feature request"
It would be nice to be able to specify the output directory, for example:
particle compile electron --output "D:/path/to/output"

[2016-07-13 16:59] brycekahle commented on #266
You can do either:
`particle compile electron . D:/path/to/output`
OR
`particle compile electron --saveTo "D:/path/to/output"`

[2016-07-13 20:06] elevatorguy commented on #266
in the meantime i'm doing a batch file on windows

[code]
but these does leave source files in the bin directory.

[2016-07-18 17:53] ericboehs commented on #176
Does particle-cli still not support Node 6?

[2016-07-19 00:38] monkbroc commented on #176
Yes, the CLI works with Node 6. If you are having issues it is most likely due to upgrading node and having some modules still compiled for the old version. If you know where the particle-cli package was installed you can force reinstalling it by deleting the files for the particle-clil package and the serialport dependency. This is the likely culprit of a weird loading errors.

[2016-07-27 17:13] dialex commented on #122
As of today, this problem is still happening to me (right now).
Is there any workaround?

[2016-07-27 20:07] monkbroc commented on #122
The issue above was when your laptop was connected to the Photon WiFi network before running the `particle setup` command. Does it work for you if you are connected to your regular WiFi network before doing `particle setup`?

[2016-07-27 22:37] towynlin opened #267 "Remove "Experimental beta" from webhook help"
Long ago not true. 😄

[2016-07-28 08:31] dialex commented on #122
1. I'm connected to my office wifi.
2. I connect the Internet Button via USB. Green light is blinking.
2. I press `SETUP` for 3 seconds and blue light is bliking.
3. I run `particle setup`.
4. It detects my Photon and confirm the setup.
 - I select to automatically scan wifi networks. Switches to Photo wifi.
 - Scanning takes ages and I give up.

If I select to manually add wifi networks. It autom

[2016-07-28 15:58] monkbroc commented on #122
Thanks for the info. Sorry you're blocked on the setup. You can do `particle serial wifi` with the Photon connected by USB and in listening mode (bllinking blue). This will set up Wi-Fi on your device. Did you already claim this Photon to your account?

[2016-07-28 16:21] dialex commented on #122
Thank you so much for helping me with the process.

Yes, I already claimed the particle using my home wifi. And it worked kind of straightforward.

After doing the `particle serial wifi`, it worked! With that command, particle found the available networks (as expected) and I just had to select and type in the password. It's weird because yesterday I also tried that command and it didn't...

Anyway

[2016-08-01 04:42] brycekahle commented on #256
My times out after exactly 2 minutes consistently
[code]

[2016-08-10 03:17] miql commented on #45
After some debugging, I encountered this:

[code]

I logged out, then logged back in, I was able to successfully claim my Photon.

I, originally, logged in earlier today around noon on my work network, then tried to claim my Photon at home, hours later.

[2016-08-10 23:59] m-mcgowan opened #270 "synchronous firmware flash OTA"
Currently, flashing firmware via OTA is an asynchronous operation - the CLI returns once the request to flash the firmware has been successfully sent to the cloud.

When writing scripts, the asynchronous behavior makes it difficult to wait for the flash to succeed or fail.

Having a --synchronous flag, or simply changing the default behavior to synchronous, would make scripting much simpler.  A sy

[2016-08-11 19:08] jtzemp opened #271 "[Feature request] Allow subscriptions to events published by a product"
Hi, all!

I'd love to be able to use the CLI to subscribe to events in product streams.

Maybe something like `particle subscribe --product 123` or `particle subscribe --product product-slug`?

[2016-08-20 15:48] NinjaneerMePls commented on #122
thanks monkbroc, the particle serial wifi was what i needed.

[2016-08-20 15:54] NinjaneerMePls commented on #122
now the photon breathes cyan i guess because it conneted to wifi but how can i claim it? the computer i'm using doesnt have wifi but is connected to the wifi router via copper connection.

[2016-08-20 16:50] NinjaneerMePls commented on #122
i figured it out: do a particle device identify to find out the id ##### and then do a particle device add ##### to claim it.

And...............im talking to myself again

[2016-08-22 06:08] eosrei commented on #122
Entire setup process for non-WiFi non-App setup:
[code]

[2016-08-22 17:46] #204 closed

[2016-08-24 18:30] dmd opened #272 "particle call fails in 1.15"
Particle call fails in 1.15 for me.

Downgrading to 1.14.2 with
  sudo npm install particle-cli@1.14.2 -g --unsafe-perm

causes the same request to succeed.

[2016-08-24 18:31] dmd commented on #272
What information can I provide to help debug this?

[2016-08-24 20:16] harrisonhjones commented on #272
Can you provide more definition around what you mean by "call fails" and "call succeed"?

[2016-08-25 01:55] sandipsubedi commented on #122
I was also hanging there and "particle serial wifi" resolved the issue !

[2016-08-25 14:54] dmd commented on #272
When I use this code in Python:

[code]

I get 'succeeded' if particle is 0.14, but 'failed' if I update to 0.16. I can upgrade and downgrade at will to switch between success and failure.

My function `fraccon`'s last line is just `return 0;`.

[2016-08-26 16:14] dmd commented on #272
Narrowing it down, 1.14.2 succeeds, 1.15 fails.

I suspect this change:
https://github.com/spark/particle-cli/compare/v1.14.2...v1.15.0#diff-ae38a11a829764f7ca0d93c0e9318f7dR75

[2016-08-26 19:54] monkbroc commented on #272
It's still not clear what kind of failure you are getting. The change you link to makes `console.log` synchronous to prevent long output like `particle list` from being truncated if the program completes before all output is written.

[2016-08-26 20:08] dmd commented on #272
It looks like there's something going on with respect to how it interacts with python's subprocess.call:

[code]

[2016-08-26 20:19] monkbroc commented on #272
I don't see the difference between the 2 calls to `particle call`. What do you think is going on?

[2016-08-26 20:28] dmd commented on #272
Yeah, see, that's what's weird - from the command line, they both print 0 and have exit status 0 - yet `subprocess.call` fails when particle is 1.15.

[2016-08-26 20:36] dmd commented on #272
Note that the `subprocess.call` is returning 1 even though `particle call` returns 0 when run from the command line, under 1.15.

[2016-08-26 22:55] monkbroc commented on #272
Hum, mysterious. Let me know if you figure out what is going on.